{{ define "main" }}
    {{ partial "merit-slider.html" . }}
        <div class="container"> 
            <div class="artical_heading">
                {{ .Params.Intro }}
            </div>
            <div class="sectionblock">        
            {{ .Content}}
            </div>
            <div class="artical_head1">
               <span>{{ .Params.advtitle2}}</span>  
            </div>
            <div class="artical_head2">
                <span>{{ .Params.advtitle3}}</span> 
             </div>       
        </div>
     {{ partial "merit-advantage.html" . }}
    {{ partial "merit-requirment.html" . }}
    {{ partial "home-website.html" . }}
{{ end }}