{{ define "main" }}
    {{ partial "vision-slider.html" . }}
    <section>
        <div class="container">
            <div class="list-page-wrapper">
                <div class="inner-wrapper-page">
                    <h4 class="text-center">{{.Params.Intro}}</h4>

                        {{ .Content}}
                        <span><b>{{ .Params.advtitle2 }}</b></span>
                        <h6><b>{{ .Params.advtitle3}}</b></h6> 
                   {{ partial "merit-advantage.html" . }}
                </div>
            </div>
        </div>
    </section>
    {{ partial "home-requirment.html" . }}
    {{ partial "home-website.html" . }}
{{ end }}
