{{ define "main" }}
{{ $heading := .Params.sliderheading }}
{{ $subheading := .Params.slidersubheading }}

{{ $detailheading := .Params.advtitle3 }}
{{ $detailsubheading := .Params.advtitle2 }}

{{ if $heading }}
    {{ partial "subpage-slider.html" (dict "page" . "sliderheading" $heading "slidersubheading" $subheading ) }}
{{ else }}
    {{ partial "subpage-slider.html" (dict "page" . "sliderheading" $detailheading "slidersubheading" $detailsubheading ) }}
{{ end }}
    <section style="padding-bottom: 0px;">
        <div class="container">
            <div class="list-page-wrapper">
                <div class="inner-wrapper-page">
                    <h4 class="text-center">{{.Params.Intro}}</h4>
                        {{ .Content}}
                        {{ range .Pages }}
                            {{ if .Params.Name }}
                                    {{ $id := replaceRE "(\\s)" "" .Params.Name }}      
                                    <div id="TableOfContents">
                                        <ul>
                                            <li><a href="#{{ $id }}" >{{ .Params.Name }} ({{ .Params.TypeofworkAnswer }} )</a></li>
                                        </ul>
                                    </div>          
                            {{ end }}
                        {{ end }}
                        <br>
                                    
                        {{ range .Pages }}
                            {{ if .Params.showDetailPage }}
                                <!-- {{ partial "voice-senior.html" (dict "page" .) }} -->
                                <div class="row">
                                    {{ .Content }}
                                </div>
                                <br>
                            {{ end }}
                        {{ end }}
                        <br>
                    {{ if .Params.voicelast }}
                        <hr>
                        <div class="row" style="padding-bottom: 60px;">
                            <div class="col-12" style="text-align: center;">
                                {{ .Params.voicelast }}
                            </div>
                        </div>
                    {{ end }}
                    {{ partial "nextPageBtn.html" . }}
                        <!-- <span><b>{{ .Params.advtitle2 }}</b></span>
                        <h6><b>{{ .Params.advtitle3}}</b></h6>  -->
                        <span  class="text-center d-block mt-4"><b>{{ .Params.advtitle2 }}</b></span>
                        <h6  class="text-center"><b>{{ .Params.advtitle3}}</b></h6>
                    {{ partial "listContentBox.html" . }}
                    {{ partial "detailContentBox.html" . }}
                </div>
            </div>
        </div>
    </section>
    <hr>
    {{ partial "home-requirment.html" . }}
    {{ partial "home-website.html" . }}
{{ end }}