{{ define "main" }}
{{ $heading := .Params.sliderheading }}
{{ $subheading := .Params.slidersubheading }}

{{ $detailheading := .Params.advtitle3 }}
{{ $detailsubheading := .Params.advtitle2 }}

{{ if $heading }}
    {{ partial "subpage-slider.html" (dict "page" . "sliderheading" $heading "slidersubheading" $subheading ) }}
{{ else }}
    {{ partial "subpage-slider.html" (dict "page" . "sliderheading" $detailheading "slidersubheading" $detailsubheading ) }}
{{ end }}
    <section>
        <div class="container">
            <div class="list-page-wrapper">
                <div class="inner-wrapper-page">
                    <h4 class="text-center">{{.Params.Intro}}</h4>
                    <div class="sectionblock">        
                        {{ .Content}}
                    </div>                                
                        {{ range .Pages }}
                            {{ if .Params.Name }}
                                <div class="sectionblock">
                                    {{ $id := replaceRE "(\\s)" "" .Params.Name }}                
                                    <li><a href="#{{ $id }}" >{{ .Params.Name }} ({{ .Params.TypeofworkAnswer }} )</a></li>
                                </div>
                            {{ end }}
                        {{ end }}
                        <br>
                                    
                        {{ range .Pages }}
                            {{ partial "voice-senior.html" (dict "page" .) }}
                        {{ end }}
                        <br>
                    {{ if .Params.voicelast }}
                        <hr>
                        <div class="row" style="padding-bottom: 60px;">
                            <div class="col-12" style="text-align: center;">
                                {{ .Params.voicelast }}
                            </div>
                        </div>
                    {{ end }}
                    {{ partial "nextPageBtn.html" . }}
                    <div class="artical_head1">
                        <span><b>{{ .Params.advtitle2 }}</b></span>
                    </div>
                    <div class="artical_head2">
                        <h6><b>{{ .Params.advtitle3}}</b></h6> 
                    </div>       
                    {{ partial "listContentBox.html" . }}
                </div>
            </div>
        </div>
    </section>
    {{ partial "home-requirment.html" . }}
    {{ partial "home-website.html" . }}
{{ end }}