{{ $Scratch := newScratch}}
{{ $Scratch.Set "url" "" }}
{{ $lang:= print site.Language }}

{{ if eq ($lang) ("en")  }}  
    {{$seturl:= replace (.path)  "/job/en/" "/en/job/" }}
    {{ $Scratch.Set "url" $seturl }}
{{ else }}
    {{$seturl:= replace (.path)  "/job/jp/" "/jp/job/" }}
    {{ $Scratch.Set "url" $seturl }}
{{ end }}

{{ $url := $Scratch.Get "url" }}
<a href=" {{ .path }}">        
    <div class="block__heading">
      {{ .title }} 
    </div>
    <div class="block__description text_overflowHidden">
      {{ .description }} 
  </div>
  <div class="block__more">
    {{ .endtitle }}    
  </div>
 </a>