<footer>
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-3 col-md-12 col-sm-12 col-12">
          <h2><img class="lazyload" src="{{ `../../../../images/imageLoading.gif` }}" data-src="{{ `images/h_logo.webp` | absURL }}" height="40px" width="50px" alt="Image Not available"/> </h2>
          {{ with .Site.Params.footerAddress }}
          <p class="footercolsize"> {{ . }} {{ end }}
            <br> {{ with .Site.Params.footerMail }} {{ . }} {{ end }}
            <br> {{ with .Site.Params.footerTel }} {{ . }} {{ end }}
            <br> {{ with .Site.Params.footerFax }} {{ . }} {{ end }}
            Url.<a class="footercolsize" href="{{ .URL }}" rel="noopener" target="_blank">https://andaze.com</a>
          </p>
      </div>
      <div style = "padding-top: 10px;" class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="row">
          {{ with .Site.GetPage "/" }}
          {{ range .Sections.ByWeight }}
          <div class="col-lg-4 col-md-4 col-12 col-sm-12 mb-3"> 
            <ul style="list-style: none !important;">
              {{ $footertitel := .File.Dir }}
              {{ $demo := strings.TrimRight "\\//" $footertitel }}
              {{ if where .Site.Menus.item "Name" "in" $demo  }}
              <li class="colsize"><h6><a class="footerTitle" href="{{ .URL | absLangURL }}"><b>{{ .Title }}</b></a> </h6></li>
                {{ with .Site.GetPage $demo }}
                {{ range .Sections.ByWeight }}
                  <li class="colsize"><a  href="{{ .URL | absLangURL }}" class="link2Foot"> - {{ .Title }}</a></li>
                {{ end }}
                {{ end }}
                {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">
        <ul style="list-style: none !important;">
          <li class="colsize"><a href="{{ .URL | absLangURL }}" rel="noopener" target="_blank"> {{ with .Site.Params.footerhome }}  {{ . }} {{ end }}</a></li>
          <li class="colsize"><a href="https://andaze.me/sogitani/" rel="noopener" target="_blank">{{ with .Site.Params.footerblog  }} {{ . }} {{ end }}</a></li>
          <li class="colsize"><a href="https://andaze.me/nippo/" rel="noopener" target="_blank">{{ with .Site.Params.footerReport }} {{ . }} {{ end }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<button onclick="topFunction()" id="myBtn" aria-label="right" class="back-to-top"> <img class="lazyload" src="{{ `../../../../images/imageLoading.gif` }}" data-src="{{ `../../../../images/back_to_top.png` }}" width="25px" alt=""></button>
<div id="preloader"></div>

{{ $square1 := resources.Get "js/square1.js" | resources.Minify }}
<script defer src="{{ $square1.Permalink }}" integrity="{{ $square1.Data.Integrity }}"></script> 

{{ $wow := resources.Get "plugins/wow/wow.min.js" }}
{{ $isoTope := resources.Get "plugins/isotope-layout/isotope.pkgd.min.js" }}
{{ $lazysize :=  resources.Get "js/lazysizes.min.js" }}
{{ $concatJs := slice $wow $isoTope $lazysize | resources.Concat "js/bundle_mini.js" }}
<script defer src="{{ $concatJs.Permalink }}" integrity="{{ $concatJs.Data.Integrity }}" async></script>

{{ $menu := resources.Get "js/menu.js" | minify }}
<script defer src="{{ $menu.Permalink }}" integrity="{{ $menu.Data.Integrity }}"></script> 

{{ $jquery_wasing := resources.Get "js/jquery.easing.min.js" }}
<script defer src="{{ $jquery_wasing.Permalink }}" integrity="{{ $jquery_wasing.Data.Integrity }}"></script>

<script>
    var mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 10;
        document.documentElement.scrollTop = 10;
      }
</script>



<!-- Removed Js -->
<!--
<script src="{{ `plugins/php-email-form/validate.js` | absURL }}"></script>
<script src="{{ `plugins/appear/jquery.appear.js` | absURL }}"></script>
<script src="{{ `plugins/knob/jquery.knob.js` | absURL }}"></script>
<script src="{{ `plugins/parallax/parallax.js` | absURL }}"></script>
<script src="{{ `plugins/venobox/venobox.min.js` | absURL }}"></script> 
<script src="{{ `plugins/bootstrap/js/bootstrap.bundle.min.js` | absURL }}"></script>
{{ $jqueryNivo := resources.Get "plugins/nivo-slider/js/jquery.nivo.slider.js" }}
{{ $owlCarousel := resources.Get "plugins/owl.carousel/owl.carousel.min.js" }} 

{{ $main := resources.Get "js/main.js" }} 

{{ $concatjs := slice $menu $main | resources.Concat "js/bundle.js" | resources.Minify }}
<script defer src="{{ $concatjs.Permalink }}" integrity="{{ $concatjs.Data.Integrity }}"></script> 

-->
