<footer>
  <div class="container">
    <div class="footer-container py12">
      <div class="">
        <div class="logo-container">
          <!-- <img src="{{`images/andazeLogo.webp` | absURL }}" alt="Image Not Available" /> -->
          <img src="{{ `images/andazeFooter.png` | absURL }}" width="150px"  alt="Image Not Available"/>
        </div>
        <div class="footer-linking">
          <div class="footer-link-box">
            <p class="m0">
              {{if eq (.Lang) ("ja")}}
                アンダーズ株式会社<br />
                〒102-0083<br />
                東京都千代田区麹町2-10-3
              {{ end }}
              {{if eq (.Lang) ("en")}}
                Expert Office 1F,<br />
                2-10-3 Kojimachi, Chiyoda-ku, <br />
                Tokyo,102-0083, Japan.
              {{ end }}
            <a href="mailto:contact-us@andaze.com"> {{.Site.Params.footerMail}}</a>
            {{.Site.Params.footerTel}}<br/>
            <a href="https://andaze.com/ja/">Url - https://andaze.com/ja/</a></p>
            <div class="lan-content-footer">
              <label class="select">
                  {{ partial "language_change.html" . }}
              </label>
          </div>
          </div>

          {{ with .Site.GetPage "/" }}
          {{ range .Sections.ByWeight }}
          <div class="footer-link-box">
              {{ $footertitel := .File.Dir }}
              {{ $demo := strings.TrimRight "\\//" $footertitel }}
              {{ if where .Site.Menus.item "Name" "in" $demo  }}
                {{ partial "homeurlchange.html" (dict "path" (.URL | absURL) "title" (.Title) "class" "footer-title") }}
                {{ with .Site.GetPage $demo }}
                {{ range .Sections.ByWeight }}
                  {{ partial "homeurlchange.html" (dict "path" (.URL | absURL) "title" (.Title) "class" "link" "homeavm" "true") }}
                {{ end }}
                {{ end }}
              {{ end }}
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="text-center">
        <span class="coypright-text">Copyright©2021 Andaze Ltd. All rights reserved</span>
      </div>
    </div>
  </div>
</footer>
<!-- <button onclick="topFunction()" id="myBtn" class="back-to-top"><img  src="{{ `images/top-arrow.png` | absURL  }}" width="25px" alt="Image Not Available"></button> -->
<a onclick="topFunction()" id="myBtn" class="back-to-top"><img  src="{{ `images/top-arrow.png` | absURL  }}" width="35px" alt="Image Not Available"></a>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

{{ $square1 := resources.Get "js/square1.js" | minify }} <!-- Slider Js -->
{{ $menu := resources.Get "js/menu.js"  | minify }} <!-- Slider Js -->
{{ $jquery_wasing := resources.Get "js/jquery.easing.min.js" }} <!-- Slider Js -->
{{ $lazysize :=  resources.Get "js/lazysizes.min.js" }} <!-- Lazy Loading Js -->
{{ $concatJs := slice $square1 $menu $jquery_wasing $lazysize | resources.Concat "js/bundle_mini.js" }}
<script defer src="{{ $concatJs.Permalink }}" integrity="{{ $concatJs.Data.Integrity }}" async></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ `plugins/bootstrap/js/bootstrap.min.js` | absURL }}" ></script>


<!-- Back to TOp Button -->
<script>
  var mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 10;
    document.documentElement.scrollTop = 10;
  }
</script>