<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      {{ $Scratch := newScratch}}
      {{ $Scratch.Set "url" "" }}
      {{ $lang:= print site.Language }}

      {{ if eq ($lang) ("en")  }}  
        {{$seturl:= replace (.Site.BaseURL | relLangURL)  "/job/en" "/en/job" }}
        {{ $Scratch.Set "url" $seturl }}
      {{ else }}
        {{$seturl:= replace (.Site.BaseURL | relLangURL)  "/job/ja" "/ja/job" }}
        {{ $Scratch.Set "url" $seturl }}
      {{ end }}
      {{ $url := $Scratch.Get "url" }}
      <a class="navbar-brand" href="{{ $url }}">
        <div class="logo-container">
          <!-- <img  src="{{ `images/andazeLogo.webp` | absURL }}" width="170px" alt="Image Not Available"/> -->
          <img class="lazyload" src="{{ `images/imageLoading.gif` | absURL }}"  data-src="{{ `images/andazeLogo.png` | absURL }}" alt="Image Not Available"/>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
          aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto" itemscope itemtype= "http://www.schema.org/SiteNavigationElement">
            {{ range .Site.Menus.item }}
              <li itemprop="name" class="nav-item">
                {{ partial "homeurlchange.html" (dict "path" (.URL | absLangURL) "title" (i18n .Name) "class" "nav-link" "itemprop" "url") }}
              </li>
            {{ end }} 
          </ul>
      </div>
    </div>
  </nav>
</header>