<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ $lang:= print site.Language }}
  {{ if eq ($lang) ("en")}}
    <meta name="description" content="Andaz has been facing the challenges faced by businesses in Japan and India by using its high level of global IT skills. We would like to share with you the vision and development policy that lies at the foundation of our company.">
  {{ else }}
    <meta name="description" content="アンダーズは世界的な高いIT技術力を駆使し、日本とインドで企業が抱える課題と向き合ってきました。そんな当社の土台にある、ビジョンや育成方針をお伝えします。">
  {{ end }}
  {{ partial "google_analytics.html" . }}
  
  {{ if eq (.Params.SitejobPosting) (true) }}
    {{ partial "schema.html" . }}
  {{ end }}
  {{ if .Params.Jsonld }}
    <script type="application/ld+json">{{.Params.jsonld}}</script>
  {{ end }}
  
  <link rel="stylesheet" type="text/css" href="{{ `plugins/bootstrap/css/bootstrap.css` | absURL }}">
  
  {{ $style := resources.Get "css/custom.css" }}
  {{ $square := resources.Get "css/square1.css" }} <!-- slider Css -->
  {{ $styles := slice $style $square | resources.Concat "bundle.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>{{ with .Site.Title }} {{ . }}  {{ end }}</title>
  <meta name="og:image" content="{{ `images/favicon.ico` | absURL }}"/>

  <!-- <link href="{{ `images/favicon.ico` | absURL }}" rel="icon"> -->

  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ `images/favicon.ico` | absURL }}">
  <link rel="apple-touch-icon-precomposed" sizes="64x64" href="{{ `images/favicon.ico` | absURL }}">
  <link rel="apple-touch-icon-precomposed" sizes="32x32" href="{{ `images/favicon.ico` | absURL }}">
  <link rel="icon" sizes="192x192" href="{{ `images/favicon.ico` | absURL }}">
  <link rel="icon" sizes="64x64" href="{{ `images/favicon.ico` | absURL }}">
  <link rel="icon" sizes="32x32" href="{{ `images/favicon.ico` | absURL }}">
  <link rel="canonical" href="https://ivopetkov.com/b/lazy-load-responsive-images/">
  <link rel="alternate" type="application/rss+xml" title="Ivo Petkov" href="https://ivopetkov.com/rss.xml">
  <meta property="og:image" content="{{ `images/favicon.ico` | absURL }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://andaze.com/ja">

</head>