    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex">
     
        <!-- ===== Responsive menu ==== -->
     
        <div  id="mySidenav" class="sidenav responsive">
            <!-- {{ range .Site.Params.listeLangues }}
              {{ partial "flags.html" (dict "site" $.Site "liste" . "Permalink" $.Permalink) }}
            {{ end }} -->
          <span style="display: block;padding-left: 23px;">
          {{ partial "language_change.html" . }}
          </span>

          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          {{ range .Site.Menus.item }}
            <a href="{{ .URL | absLangURL }}"><span style="color: white;">{{ i18n .Name }}</span></a>
          {{ end }}
        </div>

        <span class="responsive" style="margin: 8px 8px;font-size:30px;color:white;cursor:pointer" onclick="openNav()">&#9776; </span>
        <div class="mobile-logo mr-auto">
          <div>
            <a href="{{ .Site.Language.Lang | absLangURL }}"><img src="{{ `images/h_logo.webp` | absURL }}" width="50px" style="height: 19px !important"; alt="Image Not Available"/>&nbsp; <span style="color: rgb(175, 168, 111) !important;">{{ with .Site.Params.headerTitle }} {{ . }} {{ end }}</span></a>
          </div>
        </div> 


        <!-- ===== Desktop menu ===== -->
        {{ $Scratch := newScratch}}
        {{ $Scratch.Set "url" "" }}
        {{ $lang:= print site.Language }}
        
        {{ range .Site.Menus.item }}
          {{ if eq ($lang) ("en")  }}  
            {{$seturl:= replace (.URL | absLangURL)  "/job/en/" "/en/job/" }}
            {{ $Scratch.Set "url" $seturl }}
          {{ else }}
            {{$seturl:= replace (.URL | absLangURL)  "/job/jp/" "/jp/job/" }}
            {{ $Scratch.Set "url" $seturl }}
          {{ end }}
      
          {{ $url := $Scratch.Get "url" }}
          <nav class="mobile-offcanvas navbar-expand-lg">
            <ul class="navbar-nav">
              <li class="nav-menu active">
                <a href="{{ $url }}" class="nav-link" >{{ i18n .Name }}</a>
              </li>
            </ul>
          </nav>
        {{ end }}
        
        <span class="d-none d-lg-none d-xl-block" style="margin:auto; padding-top: 5px;">
              <!-- {{ range .Site.Params.listeLangues }}
              {{ partial "flags.html" (dict "site" $.Site "liste" . "Permalink" $.Permalink) }}
              {{ end }} -->
        {{ partial "language_change.html" . }}
        </span>
      </div>
    </header><!-- End Header -->
  