<section class="grey-light p-90 ">
  <div class="container">
      <h2 class="text-center">OTHER WEB SITES</h2>
      <p class="text-muted text-center">その他のベイジのWebサイト</p>

      <div class="btn-content-group">
          <a href="https://www.andaze.com/ja/" class="btn btn-lg">ANDAZE</a>
          <a href="https://dynamics365.andaze.com/"  class="btn btn-lg">Dynamic 365</a>
          <a href="https://www.linkedin.com/company/andazejapan/"  class="btn btn-lg">LinkedIN</a>
      </div>
  </div>
</section>