{{ $Scratch := newScratch}}
{{ $Scratch.Set "url" "" }}
{{ $lang:= print site.Language }}

{{ if eq ($lang) ("en")  }}  
    {{$seturl:= replace (.path)  "/job/en/" "/en/job/" }}
    {{ $Scratch.Set "url" $seturl }}
{{ else }}
    {{$seturl:= replace (.path)  "/job/ja/" "/ja/job/" }}
    {{ $Scratch.Set "url" $seturl }}
{{ end }}

{{ $url := $Scratch.Get "url" }}
{{if .itemprop}}
<a itemprop = "{{.itemprop}}" href="{{ $url }}" class="{{.class}}" target="{{.target}}" >{{ .title }}</a>
{{ else if .homeavm }}
<a href="{{ $url }}" class="{{.class}}" target="{{.target}}" ><!--<span class="material-icons">chevron_right</span>-->{{ .title }}</a>
{{ else }}
<a href="{{ $url }}" class="{{.class}}" target="{{.target}}" >{{ .title }}</a>
{{ end }}