<section class="primary-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="box-content">
                  <div class="number">1</div>
                  <h2 class="title text-center">ADVANTAGE</h2>
                  <p class="text-muted text-center">{{.Site.Params.advantageTitle}}</p>
                  {{ with .Site.GetPage "merit" }}
                  <p class="text-content">{{ .Params.Intro }}</p>
                  <div class="link-container">
                    {{ range .Sections.ByWeight }}
                      {{ partial "homeurlchange.html" (dict "path" .URL "title" .Title "class" "link" "homeavm" "true") }}
                    {{ end }}
                  </div>
                  {{ end }}
              </div>
          </div>
          <div class="col-lg-4">
              <div class="box-content">
                  <div class="number">2</div>
                  <h2 class="title text-center">VISIONS</h2>
                  <p class="text-muted text-center">{{.Site.Params.visionTitle}}</p>
                  {{ with .Site.GetPage "vision" }}
                  <p class="text-content">{{ .Params.Intro }}</p>
                  <div class="link-container">
                    {{ range .Sections.ByWeight }}
                      {{ partial "homeurlchange.html" (dict "path" .URL "title" .Title "class" "link" "homeavm" "true") }}
                    {{ end }}
                  </div>
                  {{ end }}
              </div>
          </div>
          <div class="col-lg-4">
              <div class="box-content">
                  <div class="number">3</div>
                  <h2 class="title text-center">MESSAGE</h2>
                  <p class="text-muted text-center">{{.Site.Params.messageTitle}}</p>
                  {{ with .Site.GetPage "message" }}
                  <p class="text-content">{{.Params.Intro}}</p>
                  <div class="link-container">
                      {{ range .Sections.ByWeight }}
                        {{ partial "homeurlchange.html" (dict "path" .URL "title" .Title "class" "link" "homeavm" "true") }}
                      {{ end }}
                  </div>
                  {{ end }}
              </div>
          </div>
      </div>
  </div>
</section>
<section class="image-section">
  <div class="container">
    <div class="andaze-img-con">
      <div class="img-left">
        <img src="https://i.ibb.co/fCQZh9t/andazehome1.jpg" alt="Image Not Available"/>
      </div>
      <div class="img-right">
        <img src="https://i.ibb.co/sRccT6M/andazehome2.jpg" alt="Image Not Available"/>
      </div>
    </div>
  </div>
</section>


