<!--start resuable  -->
    <!-- ======= other Section ======= -->

    <div class="our-skill-area fix hidden-sm">
      <div class="test-overly"></div>
      <div class="skill-bg area-padding-2">
        <div class="container">
          <div class="single-skill">
            <!-- section-heading end -->
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="headlineLv03NumEn"><span class="headlineEn">OTHER WEB SITES</span> その他のベイジのWebサイト</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-xs-12 col-sm-6 col-md-6 ">
                <a href="https://andaze.me/" rel="noopener" target="_blank">
                  <img src="{{ `../../../../images/imageLoading.gif` }}" data-src="{{ `images/bnr_official.webp` | absURL }}" width="212" height="62"
                    class="img-responsive center-block d-block mx-auto lazyload" alt="andaze 株式会社ベイジ オフィシャルサイト"></a>
                <div class="mobile-margin"></div>
              </div>

              <div class="col-lg-3 col-xs-12 col-sm-6 col-md-6 ">
                <a href="https://andaze.me/sogitani/" rel="noopener" target="_blank"><img src="{{ `../../../../images/imageLoading.gif` }}" data-src="{{ `images/bnr_sogilog.webp` | absURL }}" width="212"
                    class="img-responsive center-block d-block mx-auto lazyload" height="62" alt="Sogilog 株式会社ベイジ 社長ブログ"></a>
                <div class="mobile-margin"></div>
              </div>

              <div class="col-lg-3 col-xs-12 col-sm-6 col-md-6 ">
                <a href="https://andaze.me/nippo/" rel="noopener" target="_blank"><img src="{{ `../../../../images/imageLoading.gif` }}" data-src="{{ `images/bnr_nippo.webp` | absURL }}" width="212"
                    class="img-responsive center-block d-block mx-auto lazyload" height="62" alt="ベイジの日報 社員の日報を毎日公開中"></a>
                <div class="mobile-margin"></div>
              </div>
              <div class="col-lg-3 col-xs-12 col-sm-6 col-md-6 ">
                <a href="https://www.facebook.com/andaze" rel="noopener" target="_blank"><img src="{{ `../../../../images/imageLoading.gif` }}" data-src="{{ `images/bnr_facebook.webp` | absURL }}"
                    class="img-responsive center-block d-block mx-auto lazyload" width="212" height="62"
                    alt="andaze x facebook ベイジ公式Facebookページ"></a>
                <div class="mobile-margin"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!-- End  Section -->
 <!--end reusable part -->
