<section>
  <div class="container">
      <h2 class="text-center">OTHER WEB SITES</h2>
      <p class="text-muted text-center">その他のWebサイト</p>     
      <div class="btn-content-group">
          <a href="https://www.andaze.com/ja/" class="btn btn-lg" target="_blank"  rel="noopener">ANDAZE</a>
          <a href="https://dynamics365.andaze.com/"  class="btn btn-lg" target="_blank"  rel="noopener">Dynamics 365</a>
          <a href="https://www.linkedin.com/company/andazejapan/"  class="btn btn-lg" target="_blank"  rel="noopener">LinkedIn</a>
      </div>
  </div>
</section>