<section class="sectionArea">
  <div class="container">
    <div class="row">
      {{ $getpage:= .File.Dir }}
      {{ $section := site.GetPage (strings.TrimRight "\\//" $getpage ) }}
      {{ range $section.Pages.ByWeight }}
      {{ if .Title }} 
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="block">
            <!-- <a href=" {{ .URL }}">        
            <div class="block__heading">
              {{ .Title}} 
            </div>
            <div class="block__description text_overflowHidden">
              {{ .Params.description }} 
          </div>
          <div class="block__more">
            {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }}    
          </div>
         </a> -->
         {{ partial "advantageurlchange.html" (dict "path" .URL "title" .Title "description" .Params.description "endtitle" .Site.Params.Endtitle )}}
        </div>    
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<!--Old Static Code
         <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="block">
          {{ with .Site.GetPage "merit/feature" }}
            <a href=" {{ .URL }}">        
            <div class="block__heading">
            {{ .Title}} 
            </div>
            <div class="block__description text_overflowHidden">
              {{ .Params.feature_description }} 
          {{ end}}
          </div>
          <div class="block__more">
            {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }}    
          </div>
         </a>
        </div>       
      </div> -->