{{ $page:= .Get "page"}}
{{ $file := $.Site.GetPage $page }}

{{ $Scratch := newScratch}}
{{ $Scratch.Set "url" "" }}
{{ $lang:= print site.Language }}

{{ if eq ($lang) ("en")  }}  
    {{$seturl:= replace ($file.Permalink | absURL)  "/job/en/" "/en/job/" }}
    {{ $Scratch.Set "url" $seturl }}
{{ else }}
    {{$seturl:= replace ($file.Permalink | absURL)  "/job/ja/" "/ja/job/" }}
    {{ $Scratch.Set "url" $seturl }}
{{ end }}

{{ $url := $Scratch.Get "url" }}
<a href="{{ $url }}" class="btn btn-primary btn-lg mb-3">Apply Now</a>
