<div class="row" >
    <div class="col-3 ">
        <h6>ベイジで働くメリット</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>全案件直取引なので、経営者やマーケティング担当者と直接会話できる</li>
            <li>顧客企業と制作レベルではなく戦略レベルでのディスカッションができる</li>
            <li>書籍では学べない現場の生々しい知見に触れることができる</li>
            <li>多種多様な業界・業種のビジネスの実状を垣間見れる</li>
            <li>多種多様な業種・業態との仕事を通じて実践的なスキルを身に付けられる</li>
            <li>多種多様な業種・業態のKPIやMA/SFA、ログデータに触れることで数字の感覚を磨ける</li>
            <li>ベイジが強みとしているBtoBマーケティングとHR領域に強くなれる</li>
            <li>ベイジの独自メソッドを使った戦略提案力を身に付けられる</li>
            <li>社内の制作スタッフと技術的な裏付けを取りながら提案できる</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>例えばこんな仕事</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>顧客企業へのヒアリングやディスカッション</li>
            <li>ワークショップの実施とファシリテーション</li>
            <li>ユーザーテストや行動観察などのUXリサーチ</li>
            <li>ユーザー行動を定量的に把握するログ解析</li>
            <li>競合・参考サイトの調査分析</li>
            <li>独自メソッドを活用したヒューリスティック分析</li>
            <li>webサイトおよびマーケティングの戦略提案</li>
            <li>具体的な改善策などの戦術提案</li>
            <li>実装までのクオリティ管理（戦略との整合性チェックなど）</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>例えばこんな人</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>マーケティング力を磨きたいwebディレクター</li>
            <li>企業と直接話がしたいwebディレクター</li>
            <li>幅広い業界が知りたい事業会社のマーケター</li>
            <li>特定技術に依存せず幅広い提案がしたいマーケター</li>
            <li>ジョブチェンジしたいデザイナーやエンジニア</li>
            <li>SEOやSNS、広告運用などの経験があるマーケター</li>
            <li>webサイトやマーケティングの戦略提案を実践している人</li>
        </ul>
        <h6>※基本的に経験者のみの募集です</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>雇用形態</h6>
    </div>
    <div class="col-9">
        <h6>正社員</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>給与</h6>
    </div>
    <div class="col-9">
        <p>マーケティングに関するある一定の実務経験必須。400～800万円を目安とし、実績とスキルに応じて決定。年棒の12分の1を翌月25日に支給。入社後はベイジ独自の評価システムにもとづいて、年末に査定を行い翌年度の年棒を協議して決定。</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>勤務時間</h6>
    </div>
    <div class="col-9">
        <h6>10:00～15:00をコアタイムとしたフレックス制</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>休日</h6>
    </div>
    <div class="col-9">
        <h6>土・日・祝日。夏季休暇、年末年始休暇、有給休暇あり</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>保険</h6>
    </div>
    <div class="col-9">
        <h6>雇用・労災・健康・厚生年金保険など</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>選考プロセス</h6>
    </div>
    <div class="col-9">
        <ol>
            <li>書類選考<br>
                履歴書や実績を元に最初の選考を行います。</li>
            <li>一次面接<br>
                これまでの職歴などお考えのキャリアプランなど、基本的なことをおうかがいします。ベイジについてのご質問にもすべてお答えします。</li>
            <li>課題<br>
                マーケター／リサーチャー向けの課題を二次面接までにご提出していただきます。</li>
            <li>二次面接<br>
                弊社代表・現場責任者との面接。課題のフィードバックを中心に、双方でより突っ込んだ話をします。</li>
            <li>最終面接<br>
                就業条件などを確認して最終的な意思を双方で確認します。<br>
                ※応募される方の特性に合わせてプロセスや内容が変更になる場合があります。</li>
        </ol>    
    </div>    
</div><hr>
現在、毎月2～3名のご応募が続いています。採用枠が埋まった場合は募集停止になる可能性があります。気になる方はお早めにご応募ください。

