<div class="row" >
    <div class="col-3 ">
        <h6>Benefits of Working at Vage	</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>All transactions are direct, so you can talk directly with management and marketing staff.</li>
            <li>Ability to discuss with clients on a strategic level rather than a production level</li>
            <li>You will be able to experience firsthand knowledge of the field that cannot be learned from books.</li>
            <li>Get a glimpse of the realities of business in a wide variety of industries and sectors.</li>
            <li>Acquire practical skills through working with a wide variety of industries and business types.</li>
            <li>Improve your sense of numbers through exposure to KPIs, MA/SFA, and log data from a wide variety of industries and business categories.</li>
            <li>Be strong in the BtoB marketing and HR fields, which are the strengths of Vage.</li>
            <li>Gain the ability to propose strategies using Bayesian proprietary methods.</li>
            <li>Able to make proposals with technical backing from in-house production staff</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, a job like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Interviews and discussions with client companies</li>
            <li>Workshop implementation and facilitation</li>
            <li>UX research, including user testing and behavioral observation</li>
            <li>Log analysis for quantitative understanding of user behavior</li>
            <li>Research and analysis of competitors and reference sites</li>
            <li>Heuristic analysis using proprietary methods</li>
            <li>Propose website and marketing strategies</li>
            <li>Tactical proposals for specific improvements, etc.</li>
            <li>Quality control until implementation (Check for consistency with strategy, etc.)</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, someone like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Web directors who want to improve their marketing skills</li>
            <li>Web directors who want to talk directly with companies</li>
            <li>Marketers at business companies who want to know a wide range of industries</li>
            <li>Marketers who want to make a wide range of proposals without relying on specific technologies</li>
            <li>Designers and engineers who want to change jobs</li>
            <li>Marketers with experience in SEO, social networking, advertising management, etc.</li>
            <li>People who practice web site and marketing strategy proposals.</li>
        </ul>
        <h6>Basically, we are looking for experienced people only.</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Employment Status</h6>
    </div>
    <div class="col-9">
        <h6>Regular employees</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Salary</h6>
    </div>
    <div class="col-9">
        <p>A certain level of experience in marketing is required. 4-8 million yen is a rough estimate, and will be determined based on performance and skills. One twelfth of the annual salary will be paid on the 25th of the following month. The annual salary for the following year will be determined through discussions after an assessment at the end of the year based on Vage's own evaluation system.</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>office (business, working) hours</h6>
    </div>
    <div class="col-9">
        <h6>Flexible work schedule with core hours from 10:00 to 15:00</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>holiday</h6>
    </div>
    <div class="col-9">
        <h6>Saturday, Sunday and national holidays. Summer vacation, New Year's vacation, and paid vacations.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>insurance</h6>
    </div>
    <div class="col-9">
        <h6>Employment, worker's compensation, health, and welfare pension insurance, etc.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Selection Process</h6>
    </div>
    <div class="col-9">
        <ul style="list-style: decimal !important;">
            <li>document screening<br>
                An initial screening will be made based on your resume and achievements.</li>
            <li>first interview<br>
                We will ask you some basic questions about your career plans, including your past work history. We will also answer all of your questions about Vage.</li>
            <li>Issue<br>
                You will be asked to submit an assignment for marketers/researchers by the second interview.</li>
            <li>Second Interview<br>
                Interview with our representative and site manager. We will have a more in-depth discussion, focusing on feedback on the assignment.</li>
            <li>Final Interview<br>
                Both parties confirm their final intentions by checking the working conditions and other details.<br>
                The process and content are subject to change depending on the characteristics of the applicant.</li>
        </ul>    
    </div>    
</div><hr>
Currently, we continue to receive two to three applications per month. If the hiring slots are filled, the recruitment process may be suspended. If you are interested, please apply as soon as possible.

