<div class="row" >
    <div class="col-3 ">
        <h6>Benefits of Working at Vage</h6>
    </h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Our unique education system allows you to acquire a minimum level of knowledge and skills.</li>
            <li>Because we deal directly with many clients, there are few projects with unreasonable schedules.</li>
            <li>Excellent senior designers are there to give you appropriate feedback.</li>
            <li>Because we are commissioned, we are able to work on various designs for various companies.</li>
            <li>With marketing as our strength, we can learn essential design that can contribute to business.</li>
            <li>Able to think about design from a UX research and design thinking approach</li>
            <li>Able to design with technical backing from in-house engineers</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, a job like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Prototyping of web sites and applications</li>
            <li>UI design for websites and applications</li>
            <li>Visual design using photographs, illustrations, and typography</li>
            <li>Coordination with engineers and quality control</li>

        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, someone like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Web designers who want to hone their skills from a business perspective</li>
            <li>Web designers who want to take their time with their projects</li>
            <li>Web designer for a business company who wants to experience designing for a wide range of industries.</li>
            <li>Want to start a career as a designer with no experience?</li>
        </ul>
        <h6>If you have no experience in this field, you can still apply, but please make at least five independent works before entering. (The more entries you submit, the easier it will be for the selection process to proceed.)</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Employment Status</h6>
    </div>
    <div class="col-9">
        <h6>Regular employees</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Salary</h6>
    </div>
    <div class="col-9">
        <p>280,000 yen per month (3.36 million yen per year) for both working adults and those with no experience. For those with experience, the approximate range is 4-7 million yen, to be determined based on performance and skills. One twelfth of the annual bar is paid on the 25th of the following month. After joining the company, an assessment will be made at the end of the year based on Bayzi's own evaluation system, and the annual salary for the following year will be decided through discussions.</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>office (business, working) hours</h6>
    </div>
    <div class="col-9">
        <h6>Flexible work schedule with core hours from 10:00 to 15:00</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>holiday</h6>
    </div>
    <div class="col-9">
        <h6>Saturday, Sunday and national holidays. Summer vacation, New Year's vacation, and paid vacations.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>insurance</h6>
    </div>
    <div class="col-9">
        <h6>Employment, worker's compensation, health, and welfare pension insurance, etc.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Selection Process</h6>
    </div>
    <div class="col-9">
        <ol>
            <li>document screening<br>
                An initial screening will be made based on your resume and achievements.</li>
            <li> first interview<br>
                We will ask you some basic questions about your career plans, including your past work history. We will also answer all of your questions about Vage.</li>
            <li>Issue<br>
                You will be asked to submit an assignment for designers before the second interview.</li>
            <li>Second Interview<br>
                Interview with our representative and site manager. We will have a more in-depth discussion, focusing on feedback on the assignment.</li>
            <li>Final Interview<br>
                Both parties confirm their final intentions by checking the working conditions and other details.<br>
                The process and content are subject to change depending on the characteristics of the applicant.</li>
        </ol>    
    </div>    
</div><hr>
Currently, we continue to receive two to three applications per month. If the hiring slots are filled, the recruitment process may be suspended. If you are interested, please apply as soon as possible.



