{{/* 
    < form_en >
    
    Use:
    -----
    It will display the content(In English language) of Form in a table format.
    
    Example: 
    --------
    {{< form_en >}}
    
*/}}
<div class="container">
    <form name="infoForm" class="contact-form width-normal" action="/en/job/merit/" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="infoForm" />
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Name"></label>
            <div class="col-md-4">
                <input id="contact-form-name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="" autocomplete="off">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Email"></label>
            <div class="col-md-4">
                <input id="contact-form-email" name="Email" type="email" placeholder="Email Address" class="form-control input-md" required="" autocomplete="off">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Subject"></label>
            <div class="col-md-4">
                <input id="contact-form-subject" name="Subject" type="text" placeholder="Subject" class="form-control input-md" required="" autocomplete="off">
            </div>
        </div>
        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <textarea class="form-control" id="contact-form-message" name="Message" placeholder="What's up?" rows="8"></textarea>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">resume<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="resume" id="resume" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">resume showing career and job history<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="jobhistory" id="jobhistory" />
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <button type="submit" value="Submit" id="Form-submit">Submit</button>
        </div>
    </form>
</div>