<div class="container">
    <form name="contact" class="contact-form width-normal" action="/thank-you/" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="contact" />
        <h1 class="">Entry（input screen）</h1>
        <p>If you are interested in joining us, please fill in the required information and submit your application.(*
            is a required field)</p>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Type of work<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="" id="" class="form-control">
                    <option>Marketers/Researchers</option>
                    <option>director</option>
                    <option>Lead Designer</option>
                    <option>Business system UI designer</option>
                    <option>Designer</option>
                    <option>Frontend_engineer</option>
                    <option>HTML coder</option>
                    <option>Writer / editorial staff</option>
                </select>

            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Application Type<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="" id="" class="form-control">
                    <option>mid-career recruitment</option>
                    <option>New Graduate Recruitment</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Industry experience<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="" id="" class="form-control">
                    <option>inexperience</option>
                    <option>Less than 1 year</option>
                    <option>Within 1 to 2 years</option>
                    <option>Within 2 to 3 years</option>
                    <option>Within 3 to 5 years</option>
                    <option>More than 5 years</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Your name（kanji）<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="" id="" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Your name（furigana）<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="" id="" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                gender<span style="color: #a9a46c;"> *</span>
            </div>
            <div class="col-12 col-sm-8">
                <input name="gender" type="radio" id="" value="Male" />
                <label for="">Male</label>
                <input name="gender" type="radio" id="" value="Female" />
                <label for="">Female</label>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">(present) address<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="" id="" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Email<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="email" name="" id="" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Phone number<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="" id="" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Reason for applying<span style="color: #a9a46c;"> *</span><br />
                    （500 words or less）</label>
            </div>
            <div class="col-12 col-sm-8">
                <textarea class="form-control" name="" id="" cols="45" rows="5"></textarea>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">resume<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="" id="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">resume showing career and job history<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="" id="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">work （URLs, etc.）</label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="" id="" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">How I first learned about Bage.<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select class="form-control" name="" id="">
                    <option value="" selected="selected">Please make a selection.</option>
                    <option>search engine</option>
                    <option>Twitter</option>
                    <option>Facebook</option>
                    <option>Events（Speeches and seminars）</option>
                    <option>Career Change Site</option>
                    <option>Introduction on other sites, blogs, etc.</option>
                    <option>Referral by acquaintance</option>
                    <option>Always has been.（trigger unknown）</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">When I first learned about Bage<span style="color: #a9a46c;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select class="form-control" name="" id="">
                    <option value="" selected="selected">Please make a selection.</option>
                    <option>Since I started job hunting and job searching</option>
                    <option>Within 3 months</option>
                    <option>Within half a year</option>
                    <option>Within 1 year</option>
                    <option>Within 2 years</option>
                    <option>More than that.</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4">

            </div>
            <div class="col-12 col-sm-8">
                <button class="btn btn-primary" type="submit" value="Submit" id="">Submit</button>
            </div>
        </div>
    </form>
</div>