{{/* 
    < form_en >
    
    Use:
    -----
    It will display the content(In Japanese language) of Form in a table format.
    
    Example: 
    --------
    {{< form_en >}}
    
*/}}
<div class="container">
    <form name="infoForm" class="contact-form width-normal" action="/ja/job/merit" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="infoForm" />
        <h1 class="">エントリー（入力画面）</h1>
        <p>アンダーズへの入社をご希望の方は、必要事項を入力の上、ご応募ください。（*は必須入力）</p>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">応募職種<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="typeofwork" id="typeofwork" class="form-control">
                    <option>クラウド コンサルタント</option>
                    <option>クラウド エンジニア</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">応募種別<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="applicationtype" id="applicationtype" class="form-control">
                    <option>中途採用</option>
                    <option>新卒採用</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">業界経験 <span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="experience" id="experience" class="form-control">
                    <option>未経験</option>
                    <option>1年未満</option>
                    <option>1～2年以内</option>
                    <option>2～3年以内</option>
                    <option>3～5年以内</option>
                    <option>5年以上</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">お名前（漢字）<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="name" id="name" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">お名前（ふりがな）<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="surname" id="surname" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                性別<span style="color: #0b3859;"> *</span>
            </div>
            <div class="col-12 col-sm-8">
                <input name="gender" type="radio" id="male" value="Male" />
                <label for="">男性</label>
                <input name="gender" type="radio" id="female" value="Female" />
                <label for=""> 女性</label>
                <input name="gender" type="radio" id="other" value="その他" />
                <label for="">その他</label>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">現住所<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="address" id="address" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Eメール<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="email" name="email" id="email" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">電話番号<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="mobile_number" id="mobile_number" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">志望動機など<span style="color: #0b3859;"> *</span><br />
                    (500字以内)</label>
            </div>
            <div class="col-12 col-sm-8">
                <textarea class="form-control" name="reasonforapply" id="reasonforapply" cols="45" rows="5"></textarea>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">履歴書<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="resume" id="resume" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">職務経歴書 <span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="jobhistory" id="jobhistory" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">作品（URLなど）</label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="work" id="work" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">最初にアンダーズを知ったキッカケ<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select class="form-control" name="heardandaze" id="heardandaze">
                    <option value="" selected="selected">選択してください</option>
                    <option>検索エンジン</option>
                    <option>Twitter</option>
                    <option>Facebook</option>
                    <option>イベント（登壇・セミナー）</option>
                    <option>転職サイト</option>
                    <option>他サイト・他ブログ等での紹介</option>
                    <option>知人の紹介</option>
                    <option>昔からずっと（キッカケ不明）</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">アンダーズを知った時期<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select class="form-control" name="learnandaze" id="learnandaze">
                    <option value="" selected="selected">選択してください</option>
                    <option>就職活動・転職活動を始めてから</option>
                    <option>3か月以内</option>
                    <option>半年以内</option>
                    <option>1年以内</option>
                    <option>2年以内</option>
                    <option>それ以上前</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4">

            </div>
            <div class="col-12 col-sm-8">
                <button class="btn btn-primary" type="submit" value="Submit" id="Form-submit">送信</button>
            </div>
        </div>
    </form>
</div>
<br>
<br>