{{/* 
    < form_en >
    
    Use:
    -----
    It will display the content(In Japanese language) of Form in a table format.
    
    Example: 
    --------
    {{< form_en >}}
    
*/}}
<div class="container">
    <form id="entryForm"class="contact-form width-normal" action="/job/ja/merit" method="POST">
        <!-- <form name="infoForm" class="contact-form width-normal" action="/job/ja/merit" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="infoForm" /> this both line no 15,16 use for netlify email -->
        <h1 class="">エントリー（入力画面）</h1>
        <p>アンダーズへの入社をご希望の方は、必要事項を入力の上、ご応募ください。（*は必須入力）</p>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">応募職種<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="typeofwork" id="typeofwork" class="form-control">
                    <option value="クラウド コンサルタント">クラウド コンサルタント</option>
                    <option value="クラウド エンジニア">クラウド エンジニア</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">応募種別<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="applicationtype" id="applicationtype" class="form-control">
                    <option value="中途採用">中途採用</option>
                    <option value="新卒採用">新卒採用</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">業界経験 <span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select name="experience" id="experience" class="form-control">
                    <option value="未経験">未経験</option>
                    <option value="1年未満">1年未満</option>
                    <option value="1～2年以内">1～2年以内</option>
                    <option value="2～3年以内">2～3年以内</option>
                    <option value="3～5年以内">3～5年以内</option>
                    <option value="5年以上">5年以上</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">お名前（漢字）<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="name" id="name" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">お名前（ふりがな）<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="surname" id="surname" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                性別<span style="color: #0b3859;"> *</span>
            </div>
            <div class="col-12 col-sm-8">
                <input name="gender" type="radio" id="male" value="Male" />
                <label for="">男性</label>
                <input name="gender" type="radio" id="female" value="Female" />
                <label for=""> 女性</label>
                <input name="gender" type="radio" id="other" value="その他" />
                <label for="">その他</label>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">現住所<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="address" id="address" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">Eメール<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="email" name="email" id="email" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">電話番号<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="mobile_number" id="mobile_number" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">志望動機など<span style="color: #0b3859;"> *</span><br />
                    (500字以内)</label>
            </div>
            <div class="col-12 col-sm-8">
                <textarea class="form-control" name="reasonforapply" id="reasonforapply" cols="45" rows="5"></textarea>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">履歴書<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="resume" id="resume" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">職務経歴書 <span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="file" name="curriculum_vitae" id="curriculum_vitae" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">作品（URLなど）</label>
            </div>
            <div class="col-12 col-sm-8">
                <input class="form-control" type="text" name="work" id="work" value="" />
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">最初にアンダーズを知ったキッカケ<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select class="form-control" name="heardandaze" id="heardandaze">
                    <option value="" selected="selected">選択してください</option>
                    <option value="検索エンジン">検索エンジン</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Facebook">Facebook</option>
                    <option value="イベント（登壇・セミナー）">イベント（登壇・セミナー）</option>
                    <option value="転職サイト">転職サイト</option>
                    <option value="他サイト・他ブログ等での紹介">他サイト・他ブログ等での紹介</option>
                    <option value="知人の紹介">知人の紹介</option>
                    <option value="昔からずっと（キッカケ不明）">昔からずっと（キッカケ不明）</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">アンダーズを知った時期<span style="color: #0b3859;"> *</span></label>
            </div>
            <div class="col-12 col-sm-8">
                <select class="form-control" name="learnandaze" id="learnandaze">
                    <option value="" selected="selected">選択してください</option>
                    <option value="就職活動・転職活動を始めてから">就職活動・転職活動を始めてから</option>
                    <option value="3か月以内">3か月以内</option>
                    <option value="半年以内">半年以内</option>
                    <option value="1年以内">1年以内</option>
                    <option value="2年以内">2年以内</option>
                    <option value="それ以上前">それ以上前</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-12 col-sm-4" style="font-weight:800;">
                <label for="">個人情報利用について</label>
            </div>
            <div class="col-12 col-sm-8">
                <div style="padding:10px; border: 1px solid lightgray; overflow-y: scroll;opacity: 0.8; height: 100px; resize: vertical;">
                    <dl>
                        <dt>1. 事業者の氏名又は名称</dt>
                        <dd> アンダーズ株式会社</dd>
                        <dt>2.  個人情報保護管理者（若しくはその代理人）の氏名又は職名、 所属及び連絡先</dt>
                        <dd>個人情報保護管理者　管理部</dd>
                        <dd>連絡先：03-3230-0401</dd>
                        <dt>3. 個人情報の利用目的</dt>
                        <dd> 採用応募者の個人情報は、弊社の人事採用活動（書類審査、面接、評価、応募者への連絡等）のために利用いたします。</dd>
                        <dt>4. 個人情報の第三者への提供</dt>
                        <dd> 業務担当者又は担当候補者の紹介のために、氏名、所属、業務経歴書を、直接持参するか電子メール添付(パスワード付)で、当社取引先に提供します。</dd>
                        <dt>5. 個人情報取扱いの委託</dt>
                        <dd>当社は事業運営上、前項利用目的の範囲に限って個人情報を外部に委託することがあります。この場合、個人情報保護水準の高い委託先を選定し、個人情報の適正管理・機密保持についての契約を交わし、適切な管理を実施させます。</dd>
                        <dt>6. 個人情報の開示等の請求</dt>
                        <dd>ご本人様は、当社に対してご自身の個人情報の開示等（利用目的の通知、開示、内容の訂正・追加・削除、利用の停止または消去、第三者への提供の停止）に関して、下記の当社問合わせ窓口に申し出ることができます。その際、当社はお客様ご本人を確認させていただいたうえで、合理的な期間内に対応いたします。</dd>
                        <dt>【お問合せ窓口】</dt>
                        <dd>アンダーズ株式会社</dd>
                        <dt>個人情報問合せ窓口</dt>
                        <dd>〒102-0083 東京都千代田区麹町2-10-3 エキスパートオフィス1F</dd>
                        <dd>TEL：03-6893-2121</dd>
                        <dd> Mail：privacy@andaze.com</dd>
                        <dd> 受付時間：9:00～18:00 </dd>
                        <dd>（土・日曜日・祝日・年末年始は除く）</dd>
                        <dt>7.  個人情報を提供されることの任意性について　</dt>
                        <dd>ご本人様が当社に個人情報を提供されるかどうかは任意によるものです。 ただし、必要な項目をいただけない場合、適切な対応ができない場合があります。</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row text-center" style="padding-top: 25px;">
            <div class="col-12">
                <h6><input type="checkbox"  name="terms" id="terms" onchange="document.getElementById('Form-submit').disabled = !this.checked;"  > 個人情報利用に同意</h6>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" onclick="sendEmail()" id="Form-submit" disabled>送信</button>
            </div>
        </div>
    </form>
</div>
<br>
<br>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    function sendEmail()
    {  
        
        let secureToken = {{ .Site.Params.emailCredential.secureToken }};
        let bccMail = {{ .Site.Params.emailCredential.bccMail }};
        let toMail = {{ .Site.Params.emailCredential.toMail }};
        let fromMail = {{ .Site.Params.emailCredential.fromMail }};

        let w = document.getElementById("typeofwork");
        let typeOfWork = w.value;
        let a = document.getElementById("applicationtype");
        let applicationType = a.value;
        let exp = document.getElementById("experience");
        let experience = exp.value;
        let name = document.getElementById('name').value;
        let surname = document.getElementById('surname').value;
        let gender = document.querySelector('input[name = gender]:checked').value;
        let address = document.getElementById('address').value;
        let email = document.getElementById('email').value;
        let mobile_number = document.getElementById('mobile_number').value;
        let reasonforapply = document.getElementById('reasonforapply').value;
        let work = document.getElementById('work').value;
        let h = document.getElementById("heardandaze");
        let heardandaze = h.value;
        let l = document.getElementById("learnandaze");
        let learnandaze = l.value;
        let resume = document.getElementById('resume').files[0];
        let curriculum_vitae = document.getElementById('curriculum_vitae').files[0];
        var resumeReader = new FileReader();
        var cvReader = new FileReader();
        resumeReader.readAsBinaryString(resume);
        cvReader.readAsBinaryString(curriculum_vitae);

        let body = `Hello,<br>Following are detail come from Entry form:
            <hr> 
            <br>
            応募職種 :=  ${typeOfWork},<br> 
            応募種別 := ${applicationType},<br> 
            業界経験 := ${experience},<br> 
            お名前（漢字） := ${name},<br> 
            お名前（ふりがな）:= ${surname},<br> 
            性別 := ${gender},<br> 
            現住所 := ${address},<br> 
            Eメール := ${email},<br> 
            電話番号 := ${mobile_number},<br> 
            志望動機など := ${reasonforapply},<br> 
            作品（URLなど） := ${work},<br> 
            最初にアンダーズを知ったキッカケ  := ${heardandaze},<br> 
            アンダーズを知った時期  := ${learnandaze},<br> `;

       
        const resumePromice = new Promise((resolve, reject) => {
            resumeReader.onload = function () {
                resolve(1)
            };
        });
        const cvPromice = new Promise((resolve, reject) => {
            cvReader.onload = function () {
                resolve(2)
            };
        });

        Promise.all([resumePromice, cvPromice]).then((values) => {  
            var resumeUri = "data:" + resume.type + ";base64," + btoa(resumeReader.result);
            var curriculum_vitae_uri = "data:" + curriculum_vitae.type + ";base64," + btoa(cvReader.result);

            Email.send({
            SecureToken : secureToken,
            To : toMail,
            From : fromMail,
            Bcc : bccMail,
            Subject : `Entry Form filled By ${name} ${surname}`,
            Body : body,
            Attachments : [
                {
                    name : resume.name,
                    data : resumeUri
                },
                {
                    name : curriculum_vitae.name,
                    data : curriculum_vitae_uri
                }
            ]
            }).then(
            message => alert("Your Form has Been submitted"),
            document.getElementById("entryForm").reset()
            );
        });
    }
</script>