{{/* 
    < frontend_engineer_en >
    
    Use:
    -----
    It will display the content(In Japanese language) of Frontend Engineer in a table format.
    
    Example: 
    --------
    {{< frontend_engineer_en >}}
    
*/}}
<div class="row" >
    <div class="col-3 ">
        <h6>ベイジで働くメリット</h6>
    </h6>
    </div>
    <div class="col-9">
        <ul>
            <li>直接取引が多いため、無理なスケジュールの案件が少ない</li>
            <li>外部講師によるJavaScriptの勉強会など、より高度な知識とスキルが身に付く取り組みがある</li>
            <li>優秀な先輩エンジニアから、適切なフィードバックをもらえる</li>
            <li>受託だからこそ、色々な企業の色々な案件を手掛けることができる</li>
            <li>マーケティングを強みにしているから、ビジネス貢献できる本質的なエンジニアリングが学べる</li>
            <li>UXリサーチやデザイン思考的なアプローチに触れることができる</li>
            <li>社内のデザイナーと相談しながら質の高いデザインの開発ができる</li>
            <li>受託だけでなく自社サービスの開発にも関わることができる</li>
            <li>140に分かれたワークフローなど、精緻なプロジェクト管理のノウハウにも触れることができる</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>例えばこんな仕事	</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>webサイトのHTML/CSS/JavaScriptを使った開発</li>
            <li>アプリケーションのHTML/CSS/JavaScriptを使った開発</li>
            <li>WordPressやCMSの実装</li>
            <li>既存サービスの各種APIの連携、活用</li>
            <li>PHPなどのサーバサイドの開発</li>
            <li>テストの実施</li>
            <li>開発系ドキュメントの作成</li>
            <li>デザイナーとの協業</li>

        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>例えばこんな人</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>フロントエンドをより極めたいHTMLコーダー</li>
            <li>幅広い業界の開発が経験したい事業会社のフロントエンドエンジニア</li>
            <li>CTOのような立場で組織を動かせるようになりたいフロントエンドエンジニア</li>
        </ul>
        <h6>※基本的に経験者のみの募集です</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>雇用形態</h6>
    </div>
    <div class="col-9">
        <h6>正社員</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>給与</h6>
    </div>
    <div class="col-9">
        <p>実務経験必須。400～600万円を目安とし、実績とスキルに応じて決定。年棒の12分の1を翌月25日に支給。入社後はベイジ独自の評価システムにもとづいて、年末に査定を行い翌年度の年棒を協議して決定。</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>勤務時間</h6>
    </div>
    <div class="col-9">
        <h6>10:00～15:00をコアタイムとしたフレックス制</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>休日</h6>
    </div>
    <div class="col-9">
        <h6>土・日・祝日。夏季休暇、年末年始休暇、有給休暇あり</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>保険</h6>
    </div>
    <div class="col-9">
        <h6>雇用・労災・健康・厚生年金保険など</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>選考プロセス</h6>
    </div>
    <div class="col-9">
        <ol>
            <li>書類選考<br>
                履歴書や実績を元に最初の選考を行います。</li>
            <li>一次面接<br>
                これまでの職歴などお考えのキャリアプランなど、基本的なことをおうかがいします。ベイジについてのご質問にもすべてお答えします。</li>
            <li>課題<br>
                フロントエンドエンジニア向けの課題を二次面接までにご提出していただきます。</li>
            <li>二次面接<br>
                弊社代表・現場責任者との面接。課題のフィードバックを中心に、双方でより突っ込んだ話をします。</li>
            <li>  最終面接<br>
                就業条件などを確認して最終的な意思を双方で確認します。<br>
                ※応募される方の特性に合わせてプロセスや内容が変更になる場合があります。</li>
        </ol>    
    </div>    
</div><hr>
現在、毎月2～3名のご応募が続いています。採用枠が埋まった場合は募集停止になる可能性があります。気になる方はお早めにご応募ください。




