{{ $src:= .Get "src"}}
<div class="row">
    <div class="col-12">
        <iframe  id="iframe" src="{{ $src }}" width="100%" frameborder="0"></iframe>
    </div>
</div>
<script>
    window.addEventListener('load', function() {
	let message = { height: document.body.scrollHeight};	

	// window.top refers to parent window
	window.top.postMessage(message, "*");
});

	let iframe = document.querySelector("#iframe");

	window.addEventListener('message', function(e) {
		// message that was passed from iframe page
		let message = e.data;
        console.log("console=" + (message.height-250) )
        if (screen.width >= 314 && screen.width <= 1024)
        {
            iframe.style.height = (message.height -680) + 'px';   
        }
        else
        {
            iframe.style.height = (message.height -250) + 'px';

        }
	} , false);
</script>