{{/* 
    < leadDesign_en >
    
    Use:
    -----
    It will display the content(In English language) of Lead Designer in a table format.
    
    Example: 
    --------
    {{< leadDesign_en >}}
    
*/}}
<div class="row" >
    <div class="col-3 ">
        <h6>Benefits of Working at Vage</h6>
    </h6>
    </div>
    <div class="col-9">
        <ul>
            <li>All transactions are direct, so you can make proposals directly to managers and marketers.</li>
            <li>Ability to exchange ideas with clients at the strategic level rather than the production level</li>
            <li>Able to propose designs for businesses in a wide variety of industries and sectors</li>
            <li>Acquire design skills from a business perspective by working with a wide variety of industries and business categories.</li>
            <li>Improve your sense of numbers through exposure to KPIs, MA/SFA, and log data from a wide variety of industries and business categories.</li>
            <li>Able to think about design from a UX research and design thinking approach</li>
            <li>Able to make proposals with technical backing from in-house engineers</li>
            <li>Be able to create designs with their own hands, not just upstream designs</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, this job</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Interviews and discussions with client companies</li>
            <li>Workshop implementation and facilitation</li>
            <li>Planning and conducting UX research</li>
            <li>Evaluation and analysis of the target design</li>
            <li>Design and brand concept proposals</li>
            <li>UI design for websites and applications</li>
            <li>Visual design using photographs, illustrations, and typography</li>
            <li>Design team composition and team management</li>
            <li>Coordination with production staff and quality control</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, someone like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Web designers who want to work more strategically.</li>
            <li>Web designers who want to talk directly with companies</li>
            <li>A designer at a business company who wants to experience designing for a wide range of industries.</li>
            <li>Web designers who want to have strengths in BtoB, HR, etc.</li>
        </ul>
        <h6>Basically, we are looking for experienced people only.</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Employment Status</h6>
    </div>
    <div class="col-9">
        <h6>Regular employees</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Salary</h6>
    </div>
    <div class="col-9">
        <p>Working experience required. 5-7 million yen as a rough guide, to be determined based on performance and skills. One twelfth of the annual salary will be paid on the 25th of the following month. After joining the company, an assessment will be made at the end of the year based on Bayzi's own evaluation system, and the annual salary for the following year will be decided through discussions.</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>office (business, working) hours</h6>
    </div>
    <div class="col-9">
        <h6>Flexible work schedule with core hours from 10:00 to 15:00</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>holiday</h6>
    </div>
    <div class="col-9">
        <h6>Saturday, Sunday and national holidays. Summer vacation, New Year's vacation, and paid vacations.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>insurance</h6>
    </div>
    <div class="col-9">
        <h6>Employment, worker's compensation, health, and welfare pension insurance, etc.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Selection Process</h6>
    </div>
    <div class="col-9">
        <ol>
            <li>document screening<br>
                An initial screening will be made based on your resume and achievements.</li>
            <li>first interview<br>
                We will ask you some basic questions about your career plans, including your past work history. We will also answer all of your questions about Vage.</li>
            <li>Issue<br>
                You will be asked to submit an assignment for the lead designer before the second interview.</li>
            <li>Second Interview<br>
                Interview with our representative and site manager. We will have a more in-depth discussion, focusing on feedback on the assignment.</li>
            <li> Final Interview<br>
                Both parties confirm their final intentions by checking the working conditions and other details.<br>
                The process and content are subject to change depending on the characteristics of the applicant.</li>
        </ol>    
    </div>    
</div><hr>
Currently, we continue to receive two to three applications per month. If the hiring slots are filled, the recruitment process may be suspended. If you are interested, please apply as soon as possible.





