{{ $Scratch := newScratch}}
{{ $Scratch.Set "width" "" }}
{{ $Scratch.Set "height" "" }}

{{ $path:= site.GetPage (.Get "path") }}
{{ $defaultBackground := "Slider Image Not Available" }}
{{ $srcimg := $path.Resources.GetMatch (.Get "src") | default $defaultBackground  }}
{{ if eq $srcimg $defaultBackground }}
{{ else }}

    {{ $srcimg_width := $srcimg.Width }}
    {{ $srcimg_height := 360 }}
    {{ $srcimg_ratio := div (float $srcimg_height) (float $srcimg_width) }} 

    {{ if gt $srcimg.Width .Site.Params.Imagewidth }}
        {{ $getwidth := int (default .Site.Params.Imagewidth (.Get "width")) }}
        {{ $Scratch.Set "width" $getwidth }}
    {{ else }}
        {{ $getwidth := int (default $srcimg_width (.Get "width")) }}
        {{ $Scratch.Set "width" $getwidth }}
    {{ end }}
    {{ $width := $Scratch.Get "width" }}

    {{ $ratio := float (default $srcimg_ratio (.Get "ratio")) }}

    {{ if .Get "height" }}
        {{ $getheight:= int (.Get "height") }}
        {{ $Scratch.Set "height" $getheight }}
    {{ else }}
        {{ $getheight := int (mul $width $ratio) }}
        {{ $Scratch.Set "height" $getheight }}
    {{ end }}
    {{ $height := $Scratch.Get "height" }}

    {{ $array := slice 1 2 3 }}
    {{ $dict := dict }}

    {{$fillposition:= string (default .Site.Params.fillposition (.Get "fillposition")) }}
    {{$format:= string (default .Site.Params.format (.Get "format")) }}
    {{ $positionFormat:= print " " $fillposition " " $format }}

    {{ range $array }}
        {{$imgratio:= float .}}
        {{ $crop_prm := printf "%dx%d %s" (int (mul $width $imgratio)) (int (mul $height $imgratio)) ($positionFormat) }}
        {{ $cropsize:= print $crop_prm}}
        {{ $crop_img := $srcimg.Fill $cropsize }}
        {{ $dict = merge $dict (dict (string .) $crop_img.RelPermalink) }}
    {{ end }} 

    <style>
        .subpagetopImage
        {
            background:url('{{ index $dict "3" }}');
        }
  
        @media only screen and (min-device-width: 320px) and (max-device-width: 414px) 
        {
            .subpagetopImage
            {
                background:url('{{ index $dict "1" }}');
            }
        }
        
        @media only screen and (min-device-width: 415px) and (max-device-width: 1023px)
        {
            .subpagetopImage
            {
                background:url('{{ index $dict "2" }}');
            }
        }
    </style>
{{ end }}