{{/* 
    < writereditorialstaff_en >
    
    Use:
    -----
    It will display the content(In English language) of Writer Editorial Staff in a table format.
    
    Example: 
    --------
    {{< writereditorialstaff_en >}}
    
*/}}
<div class="row" >
    <div class="col-3 ">
        <h6>Benefits of Working at Vage</h6>
    </h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Learn the content creation know-how that Bage has developed.</li>
            <li>You can do work that normal editors and writers can't learn, such as social management.</li>
            <li>Participate in content marketing planning and other activities</li>
            <li>Contribute to business expansion and branding through the creation of your own content</li>
            <li>Learn copy that contributes to your business because marketing is your strength.</li>
            <li>Able to think about copy from a UX research and design thinking approach</li>
            <li>Able to copy with technical backing from in-house designers and engineers</li>
            <li>Be involved in the commercialization of content creation</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, a job like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Content planning and writing for client company websites</li>
            <li>Support for client companies' content marketing</li>
            <li>Content planning and writing for information disseminated by Bage</li>
            <li>Composition of the content creation team for the Bage</li>
            <li>Writing related to the branding and public relations of Bage</li>

        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>For example, someone like this</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>Editors and writers who want to write texts that lead to business expansion</li>
            <li>Editors and writers who want to improve their writing skills unique to the web</li>
            <li>Editors and writers who want to learn about content marketing</li>
            <li>A person in charge who has done a lot of writing for corporate PR, etc.</li>
            <li>People who want to turn their hobby of blogging into a career.</li>
            <li>Students who want to work as writers but have no practical experience</li>
        </ul>
        <h6>If you have no experience in this field, you can still apply, but please prepare at least five pieces of independent writing before entering. (The more entries you submit, the easier it will be for the selection process to proceed.)</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Employment Status</h6>
    </div>
    <div class="col-9">
        <h6>Regular employees</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Salary</h6>
    </div>
    <div class="col-9">
        <p>280,000 yen per month (3,360,000 yen per year) for both working adults and those with no experience. For those with experience, the approximate range is 4-6 million yen, to be determined according to performance and skills. One twelfth of the annual bar is paid on the 25th of the following month. After joining the company, an assessment will be made at the end of the year based on Bayzi's own evaluation system, and the annual salary for the following year will be decided through discussions.</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>office (business, working) hours</h6>
    </div>
    <div class="col-9">
        <h6>Flexible work schedule with core hours from 10:00 to 15:00</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>holiday</h6>
    </div>
    <div class="col-9">
        <h6>Saturday, Sunday and national holidays. Summer vacation, New Year's vacation, and paid vacations.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>insurance</h6>
    </div>
    <div class="col-9">
        <h6>Employment, worker's compensation, health, and welfare pension insurance, etc.</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>Selection Process</h6>
    </div>
    <div class="col-9">
        <ol>
            <li>document screening<br>
                An initial screening will be made based on your resume and achievements.</li>
            <li>first interview<br>
                We will ask you some basic questions about your career plans, including your past work history. We will also answer all of your questions about Vage.</li>
            <li>Issue<br>
                You will be asked to submit an assignment for writers/editorial staff before the second interview.</li>
            <li>Second Interview<br>
                Interview with our representative and site manager. We will have a more in-depth discussion, focusing on feedback on the assignment.</li>
            <li>Final Interview<br>
                Both parties confirm their final intentions by checking the working conditions and other details.<br>
                The process and content are subject to change depending on the characteristics of the applicant.</li>
        </ol>    
    </div>    
</div><hr>
Currently, we continue to receive two to three applications per month. If the hiring slots are filled, the recruitment process may be suspended. If you are interested, please apply as soon as possible.
