{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $type_arr := split $src "." }}
{{ $srcbase := index $type_arr 0 }}
{{ $webp := print $srcbase ".webp" }}
{{ $webpsrc := .Page.Resources.GetMatch (printf "*%s*" ($webp)) }}
{{ $size1 := .Get 1 }}
{{ $size2 := .Get 2 }}
{{ $size3 := .Get 3}}

{{ $smallw := printf "%s%s" $size1 "x" }}
{{ $mediumw := printf "%s%s" $size2 "x" }}
{{ $largew := printf "%s%s" $size3 "x" }}
 
{{ if eq (index $type_arr 1) ("webp") }}
  {{ $small := $src.Resize $smallw }}
  {{ $medium := $src.Resize $mediumw }}
  {{ $large := $src.Resize $largew }}
  <figure>
    <picture>
      <img srcset='
          {{ with $large.RelPermalink }}{{.}} 2500w{{ end }}
        {{ with $medium.RelPermalink }}, {{.}} 1024w{{ end }}
        {{ with $small.RelPermalink }}, {{.}} 640w{{ end }}
      ' sizes="(max-width: 375px) $size1,
      (max-width: 768px) $size2,
      $size3"
      src="{{ $src.RelPermalink }}"
      />
    </picture>
  </figure>
{{ else }}

  {{ $small := $src.Resize $smallw }}
  {{ $medium := $src.Resize $mediumw }}
  {{ $large := $src.Resize $largew }}
  
  {{ $smallwebp := $webpsrc.Resize $smallw }}
  {{ $mediumwebp := $webpsrc.Resize $mediumw }}
  {{ $largewebp := $webpsrc.Resize $largew }}

  <figure>
    <picture>

      <source srcset='
      {{ with $large.RelPermalink }}{{.}} 2500w{{ end }}
      {{ with $medium.RelPermalink }}, {{.}} 1024w{{ end }}
      {{ with $small.RelPermalink }}, {{.}} 640w{{ end }}
      ' sizes="(max-width: 375px) $size1,
      (max-width: 768px) $size2,
      $size3">
      
      <source srcset='
      {{ with $largewebp.RelPermalink }}{{.}} 2500w{{ end }}
      {{ with $mediumwebp.RelPermalink }}, {{.}} 1024w{{ end }}
      {{ with $smallwebp.RelPermalink }}, {{.}} 640w{{ end }}
      ' sizes="(max-width: 375px) $size1,
      (max-width: 768px) $size2,
      $size3">      
      
      <img src="{{ $src.RelPermalink }}"
      />
    </picture>
  </figure>
{{ end }}
