
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $size1 := .Get 1 }}
{{ $size2 := .Get 2 }}
{{ $size3 := .Get 3}}

{{ $smallw := printf "%s%s" $size1 "x" }}
{{ $mediumw := printf "%s%s" $size2 "x" }}
{{ $largew := printf "%s%s" $size3 "x" }}


<!-- {{  printf "%d%s" $smallw "x"}} -->
 

{{ $small := $src.Resize $smallw }}
{{ $medium := $src.Resize $mediumw }}
{{ $large := $src.Resize $largew }}
<!-- <img 
srcset='
{{ if ge $src.Width "2500" }}
    {{ with $large.RelPermalink }}{{.}} 2500w{{ end }}
  {{ end }}
  {{ if ge $src.Width "1024" }}
  {{ with $medium.RelPermalink }}, {{.}} 1024w{{ end }}
  {{ end }}
  {{ if ge $src.Width "640" }}
  {{ with $small.RelPermalink }}, {{.}} 640w{{ end }}
  {{ end }}
' sizes="(max-width: 375px) $size1,
(max-width: 768px) $size2,
$size3"
src="{{ $src.RelPermalink }}"
/> -->

<img 
srcset='
    {{ with $large.RelPermalink }}{{.}} 2500w{{ end }}
  {{ with $medium.RelPermalink }}, {{.}} 1024w{{ end }}
  {{ with $small.RelPermalink }}, {{.}} 640w{{ end }}
' sizes="(max-width: 375px) $size1,
(max-width: 768px) $size2,
$size3"
src="{{ $src.RelPermalink }}"
/>

<picture alt="description">
  <source src="{{ with $large.RelPermalink }}{{.}} 2500w{{ end }}">
  <source src="{{ with $medium.RelPermalink }}, {{.}} 1024w{{ end }}" media="(min-width: 400px)">
  <source src="{{ with $small.RelPermalink }}, {{.}} 640w{{ end }}" media="(min-width: 800px)">
</picture>