<div class="row" >
    <div class="col-3 ">
        <h6>ベイジで働くメリット</h6>
    </h6>
    </div>
    <div class="col-9">
        <ul>
            <li>ベイジが培ったコンテンツ制作のノウハウを学べる</li>
            <li>ソーシャル運用など普通の編集者やライターが学べない仕事ができる</li>
            <li>コンテンツマーケティングの企画などに参加できる</li>
            <li>自社のコンテンツ制作を通じて、事業の拡大やブランディングに貢献できる</li>
            <li>マーケティングを強みにしているから、ビジネス貢献できるコピーが学べる</li>
            <li>UXリサーチやデザイン思考的なアプローチからコピーを考えることができる</li>
            <li>社内のデザイナーやエンジニアと技術的な裏付けを取りながらコピーができる</li>
            <li>コンテンツ制作の事業化に関わることができる</li>
        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>例えばこんな仕事</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>顧客企業のwebサイトのコンテンツ企画やライティング</li>
            <li>顧客企業のコンテンツマーケティングの支援</li>
            <li>ベイジが発信する情報のコンテンツ企画やライティング</li>
            <li>ベイジのコンテンツ制作チームの組成</li>
            <li>ベイジのブランディングや広報に関わるライティング</li>

        </ul>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>例えばこんな人</h6>
    </div>
    <div class="col-9">
        <ul>
            <li>事業拡大に繋がる文章を書きたい編集者やライター</li>
            <li>webならではのライティングを磨きたい編集者やライター</li>
            <li>コンテンツマーケティングを学びたい編集者やライター</li>
            <li>企業の広報などで文章を書くことが多かった担当者</li>
            <li>趣味で書いていたブログを仕事にしたい人</li>
            <li>文章を書く仕事に就きたいが実務未経験の学生</li>
        </ul>
        <h6>※未経験者でも応募可能ですが、自主制作の文章を5点以上作成の上エントリーください。（作品が多いほど選考が進みやすくなります）</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>雇用形態</h6>
    </div>
    <div class="col-9">
        <h6>正社員</h6>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>給与</h6>
    </div>
    <div class="col-9">
        <p>社会人・実務ともに未経験の場合、月28万円（年棒336万円）。経験者の場合、400～600万円を目安とし、実績とスキルに応じて決定。年棒の12分の1を翌月25日に支給。入社後はベイジ独自の評価システムにもとづいて、年末に査定を行い翌年度の年棒を協議して決定。</p>
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>勤務時間</h6>
    </div>
    <div class="col-9">
        <h6>10:00～15:00をコアタイムとしたフレックス制</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>休日</h6>
    </div>
    <div class="col-9">
        <h6>土・日・祝日。夏季休暇、年末年始休暇、有給休暇あり</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>保険</h6>
    </div>
    <div class="col-9">
        <h6>雇用・労災・健康・厚生年金保険など</h6>    
    </div>    
</div><hr>
<div class="row" >
    <div class="col-3">
        <h6>選考プロセス</h6>
    </div>
    <div class="col-9">
        <ol>
            <li> 書類選考<br>
                履歴書や実績を元に最初の選考を行います。</li>
            <li>一次面接<br>
                これまでの職歴などお考えのキャリアプランなど、基本的なことをおうかがいします。ベイジについてのご質問にもすべてお答えします。</li>
            <li>課題<br>
                ライター／編集スタッフ向けの課題を二次面接までにご提出していただきます。</li>
            <li>二次面接<br>
                弊社代表・現場責任者との面接。課題のフィードバックを中心に、双方でより突っ込んだ話をします。</li>
            <li>最終面接 <br>
                就業条件などを確認して最終的な意思を双方で確認します。<br>
                ※応募される方の特性に合わせてプロセスや内容が変更になる場合があります。</li>
        </ol>    
    </div>    
</div><hr>
現在、毎月2～3名のご応募が続いています。採用枠が埋まった場合は募集停止になる可能性があります。気になる方はお早めにご応募ください。



