<footer>
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-2 col-xs-12 col-sm-6 col-md-6">
        <h2><img src="images/h_logo.png" height="40px" ; width="50px" /> </h2>
        <p class="footercolsize">株式会社ベイジ / baigie inc.<br>
          〒155-0033<br>
          東京都世田谷区代田6-6-1<br>TOKYU REIT下北沢スクエア 3F<br>
          mail. info@baigie.me<br>
          tel. 03-6407-8750<br>
          fax. 03-6407-8751<br>
          url.<a class="footercolsize" href="https://baigie.me/" target="_blank">https://baigie.me</a></p>
      </div>
      <div class="col-lg-2 col-xs-12 col-sm-6 col-md-6">
        <h4 class="colsize"><a href="https://baigie.me/job/">採用情報ホーム</a></h4>
        <h3 class="colsize"><a href="https://baigie.me/job/merit/">ベイジで働くメリット</a></h3>
        <ul>
          <li class="colsize"><a href="https://baigie.me/job/merit/feature/" class="link2Foot">ベイジの特長</a></li>
          <li class="colsize"><a href="https://baigie.me/job/merit/8things/" class="link2Foot">ベイジで得られる8つのこと</a></li>
          <li class="colsize"><a href="https://baigie.me/job/merit/occupation/" class="link2Foot">職種紹介</a></li>
          <li class="colsize"><a href="https://baigie.me/job/merit/events/" class="link2Foot">社内制度・イベント</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-xs-12 col-sm-6 col-md-6">

        <h3 class="colsize"><a href="https://baigie.me/job/vision/">ビジョンと育成方針</a></h3>
        <ul>
          <li class="colsize"><a href="https://baigie.me/job/vision/perspective/" class="link2Foot">業界の現状と課題</a>
          </li>
          <li class="colsize"><a href="https://baigie.me/job/vision/policy/" class="link2Foot">私たちの育成方針</a></li>
          <li class="colsize"><a href="https://baigie.me/job/vision/future/" class="link2Foot">会社の将来像</a></li>
          <li class="colsize"><a href="https://baigie.me/job/vision/guideline/" class="link2Foot">2つの行動指針</a></li>
        </ul>

        <h3 class="colsize"><a href="https://baigie.me/job/message/">応募者へのメッセージ</a></h3>
        <ul>
          <li class="colsize"><a href="https://baigie.me/job/message/president/" class="link2Foot">代表メッセージ</a></li>
          <li class="colsize"><a href="https://baigie.me/job/message/voice/" class="link2Foot">先輩たちの声</a></li>
          <li class="colsize"><a href="https://baigie.me/job/message/tips/" class="link2Foot">採用の秘訣</a></li>
          <li class="colsize"><a href="https://baigie.me/job/message/mistake/" class="link2Foot">私たちの失敗談</a></li>
        </ul>

      </div>
      <div class="col-lg-2 col-xs-6 col-sm-6 col-md-6">

        <h3 class="colsize"><a href="https://baigie.me/job/office/">オフィスと周辺</a></h3>
        <ul>
          <li class="colsize"><a href="https://baigie.me/job/office/gallery/" class="link2Foot">オフィスギャラリー</a></li>
          <li class="colsize"><a href="https://baigie.me/job/office/info/" class="link2Foot">下北沢の美味しいお店</a></li>
          <li class="colsize"><a href="https://baigie.me/job/office/access/" class="link2Foot">アクセス</a></li>
        </ul>

        <h3 class="colsize"><a href="https://baigie.me/job/requrement/">募集職種・募集要項</a></h3>
        <ul>
          <li class="colsize"><a href="https://baigie.me/job/requirement/consultant/"
              class="link2Foot">マーケター／リサーチャー</a></li>
          <li class="colsize"><a href="https://baigie.me/job/requirement/director/" class="link2Foot">ディレクター</a>
          </li>
          <li class="colsize"><a
              href="https://baigie.me/job/requirement/%e3%83%aa%e3%83%bc%e3%83%89%e3%83%87%e3%82%b6%e3%82%a4%e3%83%8a%e3%83%bc/"
              class="link2Foot">リードデザイナー</a></li>
          <li class="colsize"><a href="https://baigie.me/job/requirement/designer/" class="link2Foot">デザイナー</a></li>
          <li class="colsize"><a href="https://baigie.me/job/requirement/frontend_engineer/"
              class="link2Foot">フロントエンドエンジニア</a></li>
          <li class="colsize"><a href="https://baigie.me/job/requirement/html%e3%82%b3%e3%83%bc%e3%83%80%e3%83%bc/"
              class="link2Foot">HTMLコーダー</a></li>
          <li class="colsize"><a href="https://baigie.me/job/requirement/%e3%83%a9%e3%82%a4%e3%82%bf%e3%83%bc/"
              class="link2Foot">ライター／編集スタッフ</a></li>
        </ul>

      </div>
      <div class="col-lg-2 col-xs-6 col-sm-6 col-md-4">
        <h3 class="colsize"><a href="https://baigie.me/job/entry/"> エントリー</a></h3>
        <h3 class="colsize"><a href="https://baigie.me/about/privacy/" target="_blank">個人情報保護方針</a></h3>
        <ul>
          <li class="colsize"><a href="https://baigie.me/" target="_blank">株式会社ベイジ：ホーム</a></li>
          <li class="colsize"><a href="https://baigie.me/sogitani/" target="_blank">ベイジ社長ブログ</a></li>
          <li class="colsize"><a href="https://baigie.me/nippo/" target="_blank">ベイジの日報</a></li>
          <li class="colsize"><a href="https://baigie.me/nippo/" target="_blank">ベイジの日報</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex align-content-end">
      <div class="blockCopyright"><small>© baigie inc. All rights reserved.</small></div>
    </div>
  </div>
</footer>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{{ `static/plugins/jquery/jquery.min.js` | absURL }}"></script>
<script src="{{ `plugins/bootstrap/js/bootstrap.bundle.min.js` | absURL }}"></script>
<script src="{{ `static/plugins/wow/wow.min.js` | absURL }}"></script>
<script src="{{ `static/plugins/isotope-layout/isotope.pkgd.min.js` | absURL }}"></script>
<script src="{{ `static/plugins/nivo-slider/js/jquery.nivo.slider.js` | absURL }}"></script>
<script src="{{ `static/plugins/owl.carousel/owl.carousel.min.js` | absURL }}"></script>
<script src="{{ `static/plugins/js/menu.js` | absURL }}"></script>
<script src="{{ `static/plugins/php-email-form/validate.js` | absURL }}"></script>
<script src="{{ `static/plugins/appear/jquery.appear.js` | absURL }}"></script>
<script src="{{ `static/plugins/knob/jquery.knob.js` | absURL }}"></script>
<script src="{{ `static/plugins/parallax/parallax.js` | absURL }}"></script>
<script src="{{ `static/plugins/venobox/venobox.min.js` | absURL }}"></script>


<!-- Template Main JS File -->
{{ $styles := resources.Get "js/main.js" | minify}}
<script src="{{ $styles.Permalink }}"></script> 
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>
