<footer>
  <div class="container">
    <div class="row" style="margin-top: 20px;">
     
      
      <div class="col-lg-3 col-md-12 col-sm-12 col-12">
          <h2><img src="{{ `images/h_logo.png` | absURL }}" height="40px" ; width="50px" /> </h2>
          {{ with .Site.Params.footerAddress }}
          <p class="footercolsize"> {{ . }} {{ end }}
            <br> {{ with .Site.Params.footerMail }} {{ . }} {{ end }}
            <br> {{ with .Site.Params.footerTel }} {{ . }} {{ end }}
            <br> {{ with .Site.Params.footerFax }} {{ . }} {{ end }}
            Url.<a class="footercolsize" href="{{ .URL }}" target="_blank">https://baigie.me</a>
          </p>
      </div>

      <div style = "padding-top: 10px;" class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="row">
          {{ with .Site.GetPage "/" }}
          {{ range .Sections.ByWeight }}
          <div class="col-lg-4 col-md-4 col-12 col-sm-12 mb-3"> 
            <ul style="list-style: none !important;">
              {{ $footertitel := .File.Dir }}
              {{ $demo := strings.TrimRight "\\" $footertitel }}
              {{ if where .Site.Menus.item "Name" "in" $demo  }}  
                <li class="colsize"><h6><a style = "color:white;" href="{{ .URL | absLangURL }}"><b>{{ .Title }}</b></a> </h6></li>
                {{ with .Site.GetPage $demo }}
                {{ range .Sections.ByTitle }}
                  <li class="colsize"><a href="{{ .URL | absLangURL }}" class="link2Foot"> {{ .Title }}</a></li>
                {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ end }} 
        </div>
        </div>
      
        <div class="col-lg-3 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">
            <ul style="list-style: none !important;">
              <li class="colsize"><a href="{{ .URL | absLangURL }}" target="_blank"> {{ with .Site.Params.footerhome }}  {{ . }} {{ end }}</a></li>
              <li class="colsize"><a href="https://baigie.me/sogitani/" target="_blank">{{ with .Site.Params.footerblog  }} {{ . }} {{ end }}</a></li>
              <li class="colsize"><a href="https://baigie.me/nippo/" target="_blank">{{ with .Site.Params.footerReport }} {{ . }} {{ end }}</a></li>
            </ul>

        </div>
    </div>
  </div>
</footer>


<button onclick="topFunction()" id="myBtn" class="back-to-top"><i class="fa fa-chevron-up"></i></button>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{{ `plugins/jquery/jquery.min.js` | absURL }}"></script>
<script src="{{ `plugins/bootstrap/js/bootstrap.bundle.min.js` | absURL }}"></script>
<script src="{{ `plugins/wow/wow.min.js` | absURL }}"></script>
<script src="{{ `plugins/isotope-layout/isotope.pkgd.min.js` | absURL }}"></script>
<script src="{{ `plugins/nivo-slider/js/jquery.nivo.slider.js` | absURL }}"></script>
<script src="{{ `plugins/owl.carousel/owl.carousel.min.js` | absURL }}"></script>
<!--<script src="{{ `plugins/php-email-form/validate.js` | absURL }}"></script>
<script src="{{ `plugins/appear/jquery.appear.js` | absURL }}"></script>
<script src="{{ `plugins/knob/jquery.knob.js` | absURL }}"></script>
<script src="{{ `plugins/parallax/parallax.js` | absURL }}"></script>
<script src="{{ `plugins/venobox/venobox.min.js` | absURL }}"></script>-->


<!-- Template Main JS File -->
{{ $styles := resources.Get "js/menu.js" | minify}}

<script src="{{ $styles.Permalink }}"></script>

{{ $styles := resources.Get "js/main.js" | minify}}
<script src="{{ $styles.Permalink }}"></script> 
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }

    var mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 10;
        document.documentElement.scrollTop = 10;
      }
</script>
