<!-- ======= office Section ======= -->
<div id="about" class="about-area area-padding1">
  <div class="container">
    <div class="row d-flex align-items-end">
      <!-- single-well start-->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well-middle">
          <div class="single-well">
            
              <h2 class="headlineLv02NumEn" style="color: #afa86f;"><span class="headlineNumber" >4</span> 
                <span class="headlineEn">OFFICE</span>   {{ with .Site.Params.messageTitle }} {{ . }}  {{ end }}</h2>
              {{ with .Site.GetPage "office" }}
                  <p>{{ .Params.Intro }}</p>
               {{ range .Sections.ByWeight }}
               <ul class="listLink01">
                <li><a href="{{ .URL }}" target="_blank">{{ .Title }}</a></li>
              </ul> 
              {{ end }}
              {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="well-left">
          <div class="single-well">
            <img src="{{ `images/about/img_office_03.webp` | absURL }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End office Section -->
