<div class="second-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="headlineLv02NumEn"><span class="headlineNumber">1</span> <span class="headlineEn">ADVANTAGE</span>
          {{ with .Site.Params.advantageTitle }}  {{ . }} {{ end }}</h2>
           {{ with .Site.GetPage "merit" }}
              <p>{{ .Params.Intro }}</p>
                {{ range .Sections.ByWeight }}
                <ul class="listLink01" style="list-style: none !important;">
                  <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                </ul>
              {{ end }}
              {{ end }}
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="headlineLv02NumEn"><span class="headlineNumber">2</span> <span class="headlineEn"> VISIONS </span>
      {{ with .Site.Params.visionTitle }} {{ . }}  {{ end }} </h2>
        {{ with .Site.GetPage "vision" }}
          <p>{{ .Params.Intro }}</p>
        {{ range .Sections.ByWeight }}
          <ul class="listLink01" style="list-style: none !important;">
            <li><a href="{{ .URL }}">{{ .Title }}</a></li>
          </ul>  
        {{ end }}
        {{ end }}    
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="headlineLv02NumEn"><span class="headlineNumber">3</span> <span class="headlineEn">MESSAGE</span>
          {{ with .Site.Params.messageTitle }} {{ . }}  {{ end }}</h2>
          {{ with .Site.GetPage "message" }}
          <p>{{ .Params.Intro }}</p>
          {{ range .Sections.ByWeight }}
          <ul class="listLink01" style="list-style: none !important;">
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        </ul>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>

<!--end section-->
