<div class="second-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="headlineLv02NumEn"><span class="headlineNum">1</span> <span class="headlineEn">ADVANTAGE</span>
          ベイジで働くメリット</h2>
        <p>ベイジは他の会社と何が違うのか。ベイジで働くことはどんな意味を持つのか。応募者の方々が真っ先に感じる疑問に、お答えさせていただきます。</p>
        <ul class="listLink01">
          <li><a href="https://baigie.me/job/merit/feature/">ベイジの特長</a></li>
          <li><a href="https://baigie.me/job/merit/8things/">ベイジで得られる8つのこと</a></li>
          <li><a href="https://baigie.me/job/merit/occupation/">職種紹介</a></li>
          <li><a href="https://baigie.me/job/merit/events/">社内制度・イベント</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="headlineLv02NumEn"><span class="headlineNum">2</span> <span class="headlineEn"> VISIONS </span>
          ビジョンと育成方針</h2>
        <p>私たちは、どんな職種・どんな業界でも通用する優秀で力強い人材の育成を目指しています。そんな私たちの考え方を詳しくお話しします。</p>
        <ul class="listLink01">
          <li><a href="https://baigie.me/job/vision/perspective/">業界の現状と課題</a></li>
          <li><a href="https://baigie.me/job/vision/policy/">育成の基本方針</a></li>
          <li><a href="https://baigie.me/job/vision/future/">会社の将来像</a></li>
          <li><a href="https://baigie.me/job/vision/guideline/">2つの行動指針</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="headlineLv02NumEn"><span class="headlineNum">3</span> <span class="headlineEn">MESSAGE</span>
          応募者へのメッセージ</h2>
        <p>今のあなたが取り組むべき本当に大切なことは何か。将来のキャリアを考えるうえで知っておくといい、私たちからのメッセージです。</p>
        <ul class="listLink01">
          <li><a href="https://baigie.me/job/message/president/">代表メッセージ</a></li>
          <li><a href="https://baigie.me/job/message/voice/">先輩たちの声</a></li>
          <li><a href="https://baigie.me/job/message/tips/">採用の秘訣</a></li>
          <li><a href="https://baigie.me/job/message/mistake/">失敗体験談</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--end section-->
