<!-- start resusable-->
    <!-- ======= Entry Section ======= -->
    <div id="about" class="about-area area-padding1">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                <h2 class="headlineLv02NumEn" style="color: #afa86f;"><span class="headlineEn">REQUIREMENT</span> {{ with .Site.Params.requirementTitle }} {{ . }} {{ end }}</h2>
                {{ with .Site.GetPage "applicationrequirements" }}
                <p>{{ .Params.Intro }} </p>
                {{ range .Sections.ByWeight }}
                  <ul class="listLink01">
                    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                  </ul>
                {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">

              <h2 class="headlineLv02NumEn" style="color: #afa86f;"><span class="headlineEn">ENTRY</span> {{ with .Site.Params.entryTitle }} {{ . }} {{ end }}</h2>
              {{ with .Site.GetPage "Entry"}}
              <p> {{ .Params.Intro }} </p>
              {{ end }}
              <ul class="ulBtnEntry">
                <li style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1;"><a
                    style = "color: #afa86f;" href="{{ .URL }}"><span>{{ with .Site.Params.entryBoxTitle }} {{ . }} {{ end }}</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Section -->

 <!--end resusable part -->
