<section class="sectionArea">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <div class="artical_heading">           
         <!-- ベイジは他の会社と何が違うのか。<br>
           ベイジで働くことはどんな意味を持つのか。<br>
           応募者の方々が真っ先に感じる疑問にお答えします。-->                       
        </div>     
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="block">
          {{ with .Site.GetPage "merit/feature" }}
          <a href=" {{ .URL }}">        
          <div class="block__heading">
          {{ .Title}} 
          </div>
          {{ end}}
          <div class="block__description">
          {{ with .Site.Params.description1 }}  {{ . }} {{ end }} 
          </div>
          <div class="block__more">
            {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }}    
          </div>
         </a>
        </div>       
      </div>          
      <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12">
        <div class="block">
          {{ with .Site.GetPage "merit/8things" }}
          <a href="{{ .URL }}">         
          <div class="block__heading">
          {{ .Title}} 
          </div>
          {{ end}}
          <div class="block__description">
            {{ with .Site.Params.description2 }}  {{ . }} {{ end }}
          </div>
          <div class="block__more">
            {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }} 
           
          </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12">
        <div class="block">
            {{ with .Site.GetPage "merit/occupation" }}
            <a href="{{ .URL }}">
            <div class="block__heading">
            {{.Title}}       
            </div>
            {{ end}}
            <div class="block__description">
              {{ with .Site.Params.description3 }}  {{ . }} {{ end }}
            </div>
            <div class="block__more">
              {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }} 
           
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12">
        <div class="block">
            {{ with .Site.GetPage "merit/events" }}
            <a href="{{ .URL }}">         
            <div class="block__heading">
            {{ .Title}}       
            </div>
            {{ end}}
            <div class="block__description">
              {{ with .Site.Params.description4 }}  {{ . }} {{ end }} 
            </div>
            <div class="block__more">
              {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }} 
           
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
