<!-- ======= other Section ======= -->
<div class="our-skill-area fix hidden-sm">
    <div class="test-overly"></div>
    <div class="skill-bg area-padding-2">
      <div class="container">
        <div class="single-skill">
          <!-- section-heading end -->
          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2 class="headlineLv03NumEn"><span class="headlineEn">Benefits of working</span> ADVANTAGE</h2>
            </div>
          </div>
          <div class="row">
            {{ with .Site.GetPage "/merit" }}
            {{ range .Sections.ByWeight }} 
            <div class="col-lg-3 col-xs-12 col-sm-6 col-md-6 ">
              <a href="{{ .URL }}">
                    {{ .Title }}
                  </a>
                  <div class="mobile-margin"></div>
                </div>
                {{ end }}
                {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div><!-- End  Section -->
