<section class="sectionArea">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
       
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="block">
          {{ with .Site.GetPage "office/gallery" }}
          <a href=" {{ .URL }}">        
          <div class="block__heading">
          {{ .Title }} 
          </div>
          <div class="block__description text_overflowHidden">
            {{ .Params.gallery_description }} 
          </div>
          {{ end }}
          <div class="block__more">
            {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }}    
          </div>
         </a>
        </div>       
      </div>          
      <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12">
        <div class="block">
          {{ with .Site.GetPage "office/info" }}
          <a href="{{ .URL }}">         
          <div class="block__heading">
          {{ .Title }} 
          </div>
          <div class="block__description text_overflowHidden">
            {{ .Params.info_description }}
          </div>
          {{ end }}
          <div class="block__more">
            {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }} 
           
          </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12">
        <div class="block">
            {{ with .Site.GetPage "office/access" }}
            <a href="{{ .URL }}">
            <div class="block__heading">
            {{.Title }}       
            </div>
            <div class="block__description text_overflowHidden">
              {{ .Params.access_description }}
            </div>
            {{ end }}
            <div class="block__more">
              {{ with .Site.Params.Endtitle }}  {{ . }} {{ end }} 
           
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
