hii{{ $id := replaceRE "(\\s)" "" .page.Params.Name }}
<div id ="{{ $id }}" class="sectionblock" style="padding-top: 60px;">
      <div class="row">
        {{ if eq (.page.Params.image) ("") }}
        {{ else }}
        <div class="col-12 col-sm-12 col-md-4 col-lg-3" style="text-align: center;">
            <img src="{{ .imagepath }}{{ .page.Params.Image }}" width="auto" height="auto" alt="Images Not available">
          </div>
        {{ end }}  
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
          {{ if eq (.page.Params.Name) ("") }}
          {{ else }}
            <div class="row seniormargin">
              <div class="col"> <h3><b>{{ .page.Params.Name }}</b></h3> 
              </div>
            </div>
          {{ end }}
          {{ if eq (.page.Params.TypeofworkAnswer) ("") }}
          {{ else }}
            <div class="row seniormargin">
              <div class="col-5" style="color: #afa86f;"><b>{{ .page.Params.TypeofworkHeading }}</b></div>
              <div class="col-7">{{ .page.Params.TypeofworkAnswer }}</div>
            </div>
          {{ end }}
          {{ if eq (.page.Params.JoiningAnswer) ("") }}
          {{ else }}
            <div class="row seniormargin">
              <div class="col-5" style="color: #afa86f;"><b>{{ .page.Params.JoiningHeading }}</b></div>
              <div class="col-7">{{ .page.Params.JoiningAnswer }}</div>
            </div>
          {{ end }}
          {{ if eq (.page.Params.DobAnswer) ("") }}
          {{ else }}
            <div class="row seniormargin">
              <div class="col-5" style="color: #afa86f;"><b>{{ .page.Params.DobHeading }}</b></div>
              <div class="col-7">{{ .page.Params.DobAnswer }}</div>
            </div>
          {{ end }}
          {{ if eq (.page.Params.BirthplaceAnswer) ("") }}
          {{ else }}
            <div class="row seniormargin">
              <div class="col-5" style="color: #afa86f;"><b>{{ .page.Params.BirthplaceHeading }}</b></div>
              <div class="col-7">{{ .page.Params.BirthplaceAnswer }}</div>
            </div>
          {{ end }}
          {{ if eq (.page.Params.WorkexpAnswer) ("") }}
          {{ else }}
            <div class="row seniormargin">
              <div class="col-5" style="color: #afa86f;"><b>{{ .page.Params.WorkexpHeading }}</b></div>
              <div class="col-7">{{ .page.Params.WorkexpAnswer }}</div>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="text-align: justify;">
            {{ .page.Content }}
        </div>
      </div>
</div>