.sectionArea
{
  padding-bottom: 81px;
}

.AdvantageArea
{
    margin-left:120px;
    margin-right:120px;
    line-height: 40px;
}
.AdvantageArea > p
{
    margin: 0 0 20px;
    line-height: 2.25;
    font-size: 114.3%;
}

.AdvantageArea>h1{
    margin: 0 0 30px;
    font-size: 200%;
    font-weight: bold ;
  }

.AdvantageArea>h2 {
    margin: 0px 0 15px;
    padding: 0 0 10px;
    font-size: 142.9%;
    font-weight: bold;
    /* border-bottom: #E5E5E5 solid 1px; */
    background: url(../img/h2_line.png) no-repeat 0 bottom;
    background-size: 0 1px;
}
.AdvantageArea>h3 {
    margin: 40px 0 15px 0;
    font-size: 114.3%;
    font-weight: bold;
  }

  .AdvantageArea >ul>li
  {
    margin: 0 0 10px;
    padding: 0 0 0 20px;
    font-size: 114.3%;
    background: url(images/ico_circle_gold.gif) 0 0.6em no-repeat;
  }
  
  .AdvantageArea>dl
  {
    color: blue;
  }


.mainBlock {
    
    padding: 40px 0 80px;
    border-top: #e5e5e5 solid 1px;
    margin-left: 120px;
    margin-right: 120px;
}


  /* page are */

  .pageArea {
    margin: 0 0 55px;
  }
  
  .pageArea li {
    margin: 0 0 15px;
    line-height: 1.4;
  }
  
  .pageArea a {
    padding: 0 0 0 22px;
    color: #afa86f;
    background: url(images/ico_arw_page_anchor.webp) 0 45% no-repeat;
  }

  .pageArea2 {
    padding: 0 0 0 22px;
    color: #afa86f;
    background: url(images/ico_circle_gold.gif) 0 45% no-repeat;
  }

 .AdvantageArea>h2>span
 {
  color: #afa86f;
 }

/* image section */

  .Imgaes {
    margin: 0 auto 50px;
    text-align: center;
    height:40%;
    width:60%;
    
  }
  .Imgaes2 {
    margin: 0 auto 50px;
    text-align: center;

    
  }

  .boxImg .imgCaption {
    text-align: left;
    font-size: 85.7%;
    line-height: 2;
  }
  
/* advantage section*/
.artical_heading
{
  font-family: "Yu Gothic Medium" , "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.75rem;
  line-height: 42px;
  white-space: pre-line;
  font-style: normal;
  color: #333333;

}
.artical_head1
{
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 50px;
}
.artical_head2
{
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    text-align: center;

}
.related_area
{
    margin-left: -24px;
    margin-top: -24px;
}

.block{
  box-sizing: border-box;
  height: 300px;
  padding: 30px 20px 20px 20px;
  border: 1px solid #ddd;
  transition: background 0.2s 0s ease;
  margin-top: 10px;
  
}


.block:hover {
    background: #eee;
    opacity: 1; /* デフォルトでopacityをいじっているのでそれを打ち消す*/
}

.block__heading {
  font-size: 1.125rem;
  font-family: "Noto Sans JP" , "Yu Gothic Medium" , "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo","Meiryo", sans-serif;
  font-style: normal;
  line-height: 31px;
  font-weight: 600;
  overflow : hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.block__description {
  font-size: 1rem;
  margin-top: 4px;
  line-height: 27px;
  color:#333333;
  font-family:   "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo", sans-serif;
}
.text_overflowHidden{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.block__more {
  font-size: 1rem;
  margin-top: 12px;
  display: flex;
  align-items: center;
  font-family:   "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo", sans-serif;
  font-style: normal;
  line-height: 27px;
}
/* button section */
.secondblock
{
    
    border-top:#e5e5e5 solid 1px;
    padding: 40px 0 80px;
    margin-left:120px;
    margin-right:120px;
}

.btnNext
{
    text-align: center;
   
}
.btnNextimg>li>a>span
{
    padding: 0 0 0 17px;
    background: url(images/ico_arw_btn_next.gif) 0 40% no-repeat;
}
.btnNextimg li a:hover {
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    background-color: #afa86f;
  }
  
  .btnNextimg li a:hover span {
    background: url(/job/common/img/ico_arw_btn_next_fff.gif) 0 40% no-repeat;
  }
.link2
{
    display: inline-block;
    width: 260px;
    margin: 0px 0 40px;
    padding: 14px 0;
    font-size: 114.3%;
    text-align: center;
    border: #afa86f solid 1px;
    background-color: #fff;
}
 /* requirement section */
 .requirementArea
 {
  padding: 75px 0 80px;
  border-top: #e5e5e5 solid 1px;
  background: #fff;
 }

/* advantage header section */
.headerImagemerit
{
  height:360px;
  background:url("../../../../jp/slider/pageslider/meritslider_huaede303b2449de45f65db9b8167f0e2c_98694_797x0_resize_box.webp");
  background-repeat:no-repeat; 
  background-size:cover;
  background-attachment:fixed;
  margin:50px 0 50px 0;
  width:100%;
  
}
.headerImagevision
{
  height:360px;
  background:url("../../../../jp/slider/pageslider/visionslider_huf49d4d8d6bec42157ba55ff05d24cff7_134688_797x0_resize_box.webp");
  background-repeat:no-repeat; 
  background-size:cover;
  background-attachment:fixed;
  margin:50px 0 50px 0;
  width:100%;
}
.headerImagemessage
{
  height:360px;
  background:url("../../../../jp/slider/pageslider/messageslider_hu6fbc1ee3c264eac9cc17407e591ea62f_146082_797x0_resize_box.webp");
  background-repeat:no-repeat; 
  background-size:cover;
  background-attachment:fixed;
  margin:50px 0 50px 0;
  width:100%;
}
.headerImageoffice
{
  height:360px;
  background:url("../../../../jp/slider/pageslider/officeslider_hu79a23a43664cd6775d4f9a314683b840_221898_797x0_resize_box.webp");
  background-repeat:no-repeat; 
  background-size:cover;
  background-attachment:fixed;
  margin:50px 0 50px 0;
  width:100%;
}
.headerImagerequirement
{
  height:360px;
  background:url("../../../../jp/slider/pageslider/requirementslider_hu0c11cef73eb4e55f874f6616761917c0_71792_797x0_resize_box.webp");
  background-repeat:no-repeat; 
  background-size:cover;
  background-attachment:fixed;
  margin:50px 0 50px 0;
  width:100%;  
}
.text1
  {   
      position:absolute;
      top:35%;     
      color:white;
      font-size: 56px;
      font-weight:900;
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      text-align:center;
  }
  .text2{
      position:absolute;
      top:50%;
      font-family: "Noto Sans JP , Aea,'a, · Aƒƒa, Medium , YuGothic , Aƒ'aƒ © A,®aƒZe§'a,' ProN W3 , Hiragino Kaku Gothic ProN , Aƒ ¡ A,¤aƒªa,ª , Meiryo , Sans-Serif ";
      color:#afa86f;
      font-size: 26px;
      font-weight: 600;
      padding:5px;
      text-align:center;
      font-style: normal;
  }
   
  
  /* iphone 5/SE*/
  @media only screen and (min-device-width: 320px) and (max-device-width: 414px)
  {
    .text1
    {
      font-size:40px;
    }
    .text2
    {
      font-size: 16px;
    }
   
  }
  @media only screen and (min-device-width: 415px) and (max-device-width: 1023px)
  {
    .text1
    {
      font-size:50px;
    }
    .text2
    {
      font-size:22px;
    }
   
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 414px) 
  {
    .headerImagemerit
    {
      background:url("../../../../jp/slider/pageslider/meritslider_huaede303b2449de45f65db9b8167f0e2c_98694_290x0_resize_box.webp");
      height:150px;
      margin-top: 60px;
    }
    .headerImagevision
    {
      background:url("../../../../jp/slider/pageslider/visionslider_huf49d4d8d6bec42157ba55ff05d24cff7_134688_290x0_resize_box.webp");
      height:150px;
      margin-top: 60px;
    }
    .headerImagemessage
    {
      background:url("../../../../jp/slider/pageslider/messageslider_hu6fbc1ee3c264eac9cc17407e591ea62f_146082_290x0_resize_box.webp");
      height:150px;
      margin-top: 60px;
    }
    .headerImageoffice
    {
      background:url("../../../../jp/slider/pageslider/officeslider_hu79a23a43664cd6775d4f9a314683b840_221898_290x0_resize_box.webp");
      height:150px;
      margin-top: 60px;
    }
    .headerImagerequirement
    {
      background:url("../../../../jp/slider/pageslider/requirementslider_hu0c11cef73eb4e55f874f6616761917c0_71792_290x0_resize_box.webp");
      height:150px;
      margin-top: 60px;
    }
   
  }
  @media only screen and (min-device-width: 415px) and (max-device-width: 1023px) 
  {
    .headerImagemerit
    {
      background:url("../../../../jp/slider/pageslider/meritslider_huaede303b2449de45f65db9b8167f0e2c_98694_596x0_resize_box.webp");
      height:380px;
      margin-top: 60px;
    }
    .headerImagevision
    {
      background:url("../../../../jp/slider/pageslider/visionslider_huf49d4d8d6bec42157ba55ff05d24cff7_134688_596x0_resize_box.webp");
      height:380px;
      margin-top: 60px;
    }
    .headerImagemessage
    {
      background:url("../../../../jp/slider/pageslider/messageslider_hu6fbc1ee3c264eac9cc17407e591ea62f_146082_596x0_resize_box.webp");
      height:380px;
      margin-top: 60px;
    }
    .headerImageoffice
    {
      background:url("../../../../jp/slider/pageslider/officeslider_hu79a23a43664cd6775d4f9a314683b840_221898_596x0_resize_box.webp");
      height:380px;
      margin-top: 60px;
    }
    .headerImagerequirement
    {
      background:url("../../../../jp/slider/pageslider/requirementslider_hu0c11cef73eb4e55f874f6616761917c0_71792_596x0_resize_box.webp");
      height:380px;
      margin-top: 60px;
    }
   
  }
 
