
@media only screen and (min-width: 1200px)
  {
    .sectionblock
    {
      width: 760px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 762px)
  {
    .sectionblock
    {
     width:100%;
     margin:0 auto;
     }
    
  }

  .sectionblock > p > a
  {
      color: #afa86f;
  }
  .sectionblock > h6 
  {
    line-height: 30px;
    font-size: 18px;
  }
  .sectionblock>h4 
  {
    padding-top: 68px;
}
