{{ define "main" }}
{{ $heading := .Params.sliderheading }}
{{ $subheading := .Params.slidersubheading }}

{{ $detailheading := .Params.advtitle3 }}
{{ $detailsubheading := .Params.advtitle2 }}

{{ if $heading }}
    {{ partial "subpage-slider.html" (dict "page" . "sliderheading" $heading "slidersubheading" $subheading ) }}
{{ else }}
    {{ partial "subpage-slider.html" (dict "page" . "sliderheading" $detailheading "slidersubheading" $detailsubheading ) }}
{{ end }}
    <section style="padding-bottom: 0px;">
        <div class="container">
            <div class="list-page-wrapper">
                <div class="inner-wrapper-page">
                    <h4 class="text-center">{{.Params.Intro}}</h4>
                
                    {{ .Content}}
                    <!-- <span><b>{{ .Params.advtitle2 }}</b></span>
                    <h6><b>{{ .Params.advtitle3}}</b></h6>  -->
                    <span  class="text-center d-block mt-4"><b>{{ .Params.advtitle2 }}</b></span>
                    <h6  class="text-center"><b>{{ .Params.advtitle3}}</b></h6>
                {{ partial "listContentBox.html" . }}
                {{ partial "detailContentBox.html" . }}
            </div>
        </div>
    </div>
</section>
<hr>
    {{ partial "home-requirment.html" . }}
    {{ partial "home-website.html" . }}
{{ end }}